<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <br>
    <h2>
        <center>Welcome {{admin_firstname}} !!</center>
    </h2>
    <p><b>Email:</b> {{admin_email}}</p>
    <p><b>Surname: </b> {{admin_surname}}</p>
    <p><b>FirstName: </b> {{admin_firstname}}</p>
    <p><b>Gender: </b>{{admin_gender}}</p>
    <p><b>Verification_ID: </b>{{admin_verify}}</p>
    <p><b>Phone Number: </b>{{admin_phone}}</p>
    <br><br> {{>footer}}
</body>

</html>