<br>
<h5><b>
    LATEST NEWS!!
  </b>
</h5>
<br>
{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}
<ul>
  <div class="container-fluid">
    <div class="row">
      {{#each newspaper}}
        <div class="col-12 col-sm-6 col-lg-4">
          <li class="card">
            <div class="col-12 card-header">
              <h6>
                <b>
                  <a href="/admin/getfullnews/{{this.id}}">{{this.heading}}</a>
                </b>
              </h6>
            </div>
            <div class="card-body col-12">
              <br>
              <img src="{{this.picture.url}}" alt="image" class="rounded news" />
              <br><br>
              <p>{{this.passage}}</p>
              <small class="float-right"> Posted on: {{datey this.updated}}</small>
            </div>
            <div class="col-12 card-footer">
              <button class="btn btn-light"><span class="fa fa-comments-o" style="font-size:20px;color:lightgreen">
                </span> {{length this.comments}}</button>
              <button type="button" class="btn btn-light"><span class="fa fa-heart-o"
                  style="font-size:20px;color:rgb(245, 56, 71)"> {{length this.likey}}
              </button>
              <a class="btn btn-secondary float-center" href="/admin/editnews/{{this.id}}"><span
                  class="fa fa-edit"></span></a>
              <form action="/admin/deletenews/{{this.id}}" method="POST" style="display:inline" class="float-right">
                <input type="hidden" />
                <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span> </button>
              </form>
            </div>
          </li>
          <br><br>
        </div>
      {{else}}
        <p><b>THERE ARE NO UPLOADED NEWS</b></p>
      {{/each}}
      <br><br>
    </div>
  </div>
</ul>
<br><br>