<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    {{#if newspaper}}
        <h3><b><center>{{newspaper.heading}}</center></b></h3>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-7">
                    <a href="../{{newspaper.picture}}"><img src="/{{newspaper.picture}}" alt="image" class="rounded" width="100%" height="300" /></a>
                </div>
                <br>
                <div class="col-sm-12 col-lg-5">
                    <p>{{newspaper.passage}}</p>
                </div>
                <div class="col-sm-12">
                    <br>
                    <p>{{newspaper.passage1}}</p>
                    <br>
                    <p>{{newspaper.passage2}}</p>
                </div>
            </div>
        </div>
    {{/if}}
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>