<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h2>{{newspaper.heading}}</h2>
    <br>
    <p>{{newspaper.picture}}</p>
    <p>{{newspaper.passage}}</p>
    <p>{{newspaper.passage1}}</p>
    <p>{{newspaper.picture1}}</p>
    <p>{{newspaper.picture2}}</p>
    <p>{{newspaper.passage2}}</p>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>