<br>
<h4><b>
        <center>{{levy}} LEVEL COURSES</center>
    </b></h4>
<div class="dropdown" style="float:right">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/admin/getallcourses">100 LEVEL</a>
        <a class="dropdown-item" href="/admin/get200courses">200 LEVEL</a>
        <a class="dropdown-item" href="/admin/get300courses">300 LEVEL</a>
        <a class="dropdown-item" href="/admin/get400courses">400 LEVEL</a>
    </div>
</div>
<br>
<h5><b>
        <center>FIRST SEMESTER COURSES</center>
    </b></h5>
<div class="container-fluid">
    <div class="row">
        <nav class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th class="seek">LEVEL</th>
                            <th class="seek">SEMESTER</th>
                            <th class="seek">UNIT/S</th>
                            <th>COURSE OUTLINE</th>
                        </tr>
                    </thead>
                    {{#each first}}
                        <tr>
                            <td>{{this.coursecode}}</td>
                            <td>{{this.coursetitle}}</td>
                            <td class="seek">{{this.level}}</td>
                            <td class="seek">{{this.semester}}st</td>
                            <td class="seek">{{this.units}}</td>
                            <td><a href="/admin/viewcourse/{{this.id}}">view course</a></td>
                        </tr>
                        {{else}}
                            <p>THERE ARE NO REGISTERED FIRST SEMESTER COURSES</p>
                    {{/each}}
                </table>
                <br>
                <h5>
                    <center>ELECTIVE COURSES: {{elective1}}</center>
                </h5>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th class="seek">LEVEL</th>
                            <th class="seek">SEMESTER</th>
                            <th class="seek">UNIT/S</th>
                            <th>COURSE OUTLINE</th>
                        </tr>
                    </thead>
                    {{#each first_borrowed}}
                        <tr>
                            <td>{{this.coursecode}}</td>
                            <td>{{this.coursetitle}}</td>
                            <td class="seek">{{this.level}}</td>
                            <td class="seek">{{this.semester}}st</td>
                            <td class="seek">{{this.units}}</td>
                            <td><a href="/admin/viewcourse/{{this.id}}">view course</a></td>
                        </tr>
                        {{else}}
                            <p>THERE ARE NO REGISTERED BORROWED COURSES</p>
                    {{/each}}
                </table>
            </div>
        </nav>
    </div>
</div>
<br>
<br>
<h5><b>
        <center>SECOND SEMESTER COURSES</center>
    </b></h5>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th class="seek">LEVEL</th>
                            <th class="seek">SEMESTER</th>
                            <th class="seek">UNIT/S</th>
                            <th>COURSE OUTLINE</th>
                        </tr>
                    </thead>
                    {{#each second}}
                        <tr>
                            <td>{{this.coursecode}}</td>
                            <td>{{this.coursetitle}}</td>
                            <td class="seek">{{this.level}}</td>
                            <td class="seek">{{this.semester}}nd</td>
                            <td class="seek">{{this.units}}</td>
                            <td><a href="/admin/viewcourse/{{this.id}}">view course</a></td>
                        </tr>
                        {{else}}
                            <p>THERE ARE NO REGISTERED SECOND SEMESTER COURSES</p>
                    {{/each}}
                </table>
                <br>
                <h5>
                    <center>ELECTIVE COURSES: {{elective2}}</center>
                </h5>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th class="seek">LEVEL</th>
                            <th class="seek">SEMESTER</th>
                            <th class="seek">UNIT/S</th>
                            <th>COURSE OUTLINE</th>
                        </tr>
                    </thead>
                    {{#each second_borrowed}}
                        <tr>
                            <td>{{this.coursecode}}</td>
                            <td>{{this.coursetitle}}</td>
                            <td class="seek">{{this.level}}</td>
                            <td class="seek">{{this.semester}}nd</td>
                            <td class="seek">{{this.units}}</td>
                            <td><a href="/admin/viewcourse/{{this.id}}">view course</a></td>
                        </tr>
                        {{else}}
                            <p>THERE ARE NO REGISTERED BORROWED COURSES</p>
                    {{/each}}
                </table>
            </div>
        </nav>
    </div>
</div>
<br><br>