<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h2><b><center>{{levy}}</center></b></h2>
    <div class="dropdown" style="float:right">
        <button class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">search</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/list100students">100 LEVEL</a>
            <a class="dropdown-item" href="/list200students">200 LEVEL</a>
            <a class="dropdown-item" href="/list300students">300 LEVEL</a>
            <a class="dropdown-item" href="/list400students">400 LEVEL</a>
        </div>
    </div>
    <br><br>
    <ul class="list-group list-group">
        {{#each slow}}
            <li class="container-fluid list-group-item">
                <div class="row">
                    {{#if this.photo}}
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="/{{this.photo}}" alt="image" class="rounded-circle" width="100%" height="130" />
                        </div>
                    {{else}}
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="../images/psylogo4.jpg" alt="image" class="rounded-circle" width="100%" height="130" />
                        </div>
                    {{/if}}
                    <div class="col-sm-6 col-md-7 col-lg-8">
                        <p><a href="/studentprofile/{{this.id}}">{{this.name}}</a></p>
                        <p>
                            <b>MAT.NUMBER: </b>{{this.matnumber}}<br>
                            <b>GENDER: </b>{{this.gender}}<br>
                            <b>LEVEL: </b>{{this.level}}
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <form action="/deletestudent/{{this.id}}" method="POST">
                            <input type="hidden" />
                            <button type="submit" class="btn btn-danger"><span class="fa fa-trash" style="font-size:30px"></span></button>
                        </form>
                    </div>
                </div>
            </li>
            {{else}}
                <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
        {{/each}}
    </ul>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>