<br>
<h5>
  <b>
    {{levy}}
  </b>
</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 dropdown dropright">
      <button class="btn btn-secondary btn-sm dropdown" data-toggle="dropdown"><span class="fa fa-search"></span>
        search</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/admin/list100students">100 LEVEL</a>
        <a class="dropdown-item" href="/admin/list100students">200 LEVEL</a>
        <a class="dropdown-item" href="/admin/list100students">300 LEVEL</a>
        <a class="dropdown-item" href="/admin/list100students">400 LEVEL</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <ul class="list-group list-group-flush">
        {{#each slow}}
          <li class="container-fluid list-group-item">
            <div class="row">
              {{#if this.photo}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="../{{this.photo}}" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{else}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="../images/psylogo4.jpg" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{/if}}
              <div class="col-5 col-sm-6 col-md-7 col-lg-8">
                <p><a href="/admin/studentprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                <p>
                  <b><span class="fa fa-user"></span> </b>{{this.gender}}<br>
                  <b><span class="fa fa-graduation-cap"></span> </b>{{this.matnumber}}
                </p>
              </div>
              <div class="col-2" style="">
                <form action="/admin/deletestudent/{{this.id}}" method="POST">
                  <input type="hidden" />
                  <button type="submit" class="btn btn-danger"><span class="fa fa-trash"
                      style="font-size:20px"></span></button>
                </form>
              </div>
            </div>
          </li>
          <br><br>
        {{else}}
          <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
        {{/each}}
      </ul>
      <br><br>
    </div>
  </div>
</div>