<br>
<h4><b>
        <center>{{levy}}</center>
    </b>
</h4>
<div class="dropdown" style="float:right">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/admin/list100students">100 LEVEL</a>
        <a class="dropdown-item" href="/admin/list200students">200 LEVEL</a>
        <a class="dropdown-item" href="/admin/list300students">300 LEVEL</a>
        <a class="dropdown-item" href="/admin/list400students">400 LEVEL</a>
    </div>
</div>
<br><br>
<ul>
    <br><br>
    {{#each slow}}
        <li class="container-fluid">
            <div class="row">
                {{#if this.photo}}
                    <div class="col-5 col-md-3 col-lg-2">
                        <img src="/{{this.photo}}" alt="image" class="rounded-circle" id="picss" />
                    </div>
                {{else}}
                    <div class="col-5 col-md-3 col-lg-2">
                        <img src="../images/psylogo4.jpg" alt="image" class="rounded-circle" id="picss" />
                    </div>
                {{/if}}
                <div class="col-5 col-md-7 col-lg-8">
                    <p><a href="/admin/studentprofile/{{this.id}}">{{this.name}}</a></p>
                    <p>
                        <b>MAT.NUMBER: </b>{{this.matnumber}}<br>
                        <b>GENDER: </b>{{this.gender}}<br>
                        <b>LEVEL: </b>{{this.level}}
                    </p>
                </div>
                <div class="col-2 col-md-2 col-lg-2">
                    <form action="/admin/deletestudent/{{this.id}}" method="POST">
                        <input type="hidden" />
                        <button type="submit" class="btn btn-danger"><span class="fa fa-trash" style="font-size:30px"></span></button>
                    </form>
                </div>
            </div>
        </li>
        <br><br>
        {{else}}
            <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
    {{/each}}
</ul>
<br><br>