<br>
<h5><b>
    PROJECT TOPICS
  </b></h5>
{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 dropdown dropright">
      <button class="btn btn-secondary btn-sm dropdown" data-toggle="dropdown"><span class="fa fa-search"></span>
        search topics</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/admin/getprojecttopicss">ALL</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/amnesia">AMNESIA</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/anxiety">ANXIETY</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/depression">DEPRESSION</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/dementia">DEMENTIA</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/developmental_psychology">DEVELOPMENTAL PSYCHOLOGY</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/educational_performance">EDUCATIONAL PERFORMANCE</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/environment">ENVIRONMENT</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/locus_of_control">LOCUS OF CONTROL</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/personality">PERSONALITY</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/physical_performance">PHYSICAL PERFORMANCE</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/psychoactive_drugs">PSYCHOACTIVE DRUGS</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/psychopathology">PSYCHOPATHOLOGY</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/psychotherapy">PSYCHO THERAPY</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/psychosis">PSYCHOSIS</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/schizophrenia">SCHIZOPHRENIA</a>
        <a class="dropdown-item" href="/admin/getprojecttopics/school_of_thought">SCHOOL OF THOUGHT</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<ol>
  {{#each projectss}}
    <li class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p><a href="/{{this.project}}">{{this.topic}}</a></p>
          <br>
        </div>
        <br><br>
        <div class="col-12 col-lg-8">
          <p>{{this.description}}</p>
        </div>
      </div>
      <a class="btn btn-info" href="/admin/editproject/{{this.id}}"><span class="fa fa-edit"></span></a>
      <form action="/deleteproject/{{this.id}}" method="POST" style="display:inline">
        <input type="hidden" class="form-control">
        <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span></button>
      </form>
    </li>
    <br><br>
  {{else}}
    <p>PROJECTS ARE NOT AVAILABLE NOW...</p>
  {{/each}}
</ol>
<br><br>