<br>
<h4>
    <b>
        <center>" {{courses.coursetitle}} RESULT UPLOAD "</center>
    </b>
</h4>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form class="form group" action="" method="POST">
                <label for="course"><b>COURSE:</b></label>
                <select name="course" class="form-control">
                    <option value="{{courses.id}}">{{courses.coursetitle}}</option>
                </select>
                <br>
                <label for="student"><b>MAT NUMBER:</b></label>
                <select name="student" class="form-control">
                    {{#each upload}}
                        <option value="{{this.id}}">{{this.surname}}- {{this.matnumber}}</option>
                    {{/each}}
                </select>
                <br>
                <label for="score"><b>SCORES:</b></label>
                <input type="number" name="score" class="form-control" placeholder="0 - 100" required>
                <br>
                <label for="grade"><b>GRADE:</b></label>
                <input type="text" name="grade" class="form-control" placeholder="A - F" required>
                <br><br>
                <button type="submit" class="btn btn-success"><b>SAVE RESULT</b></button>
            </form>
        </div>
        <div class="col-6">
            <h5><b>
                    <center>STUDENTS OFFERING</center>
                </b>
            </h5>
            <ul>
                <br><br>
                {{#each upload}}
                    <li class="container-fluid">
                        <div class="row">
                            <div class="col-5 col-md-7 col-lg-8">
                                <p>
                                    <b>NAME: </b>{{this.surname}} {{this.firstname}}<br>
                                    <b>MAT.NUMBER: </b>{{this.matnumber}}<br>
                                </p>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <button id="add{{this.id}}" class="btn btn-primary">ADD</button>
                                <button id="close{{this.id}}" style="display:none" class="btn btn-primary">CLOSE</button>
                            </div>
                        </div>
                    </li>
                    <br><br>
                    {{else}}
                        <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
                {{/each}}
            </ul>
        </div>
    </div>
</div>