<br>
<h5><b>{{staff.surname}} {{staff.firstname}}(LECTURER)</b></h5>
<div class="container-fluid">
  <div class="row">
    {{#if staff.photo.url}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="{{staff.photo.url}}" alt="profile image" class="rounded profileImage" />
      </div>
    {{else}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="/images/psylogo4.jpg" alt="profile image" class="rounded profileImage" />
      </div>
    {{/if}}
  </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-7">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#info">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#courses">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#colleague">BOOKS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="info" class="container-fluid tab-pane active" style="background-color:white">
          <br><br>
          <p><b>EMAIL: </b> {{staff.email}}</p>
          <br>
          <p><b>STAFF_ID: </b>{{staff.staff_id}}</p>
          <br>
          <p><b>GENDER: </b>{{staff.gender}}</p>
          <br>
          <p><b>PHONE NUMBER: </b>0{{staff.phone}}</p>
          <br>
          <p><b>STATUS: </b>{{staff.bio}}</p>
          <br>
        </div>
        <div id="courses" class="container-fluid tab-pane fade" style="background-color:white">
          <br><br>
          <h5>
            <b>COURSES HANDLED <span class="badge badge-danger badge-pill spany">{{length coursess}}</b>
          </h5>
          <br>
          <ul>
            {{#each coursess}}
              <li>
                <p><b>{{this.coursecode}}: </b><a href="/admin/viewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
              </li>
              <br>
            {{else}}
              <p>NO COURSE ASSIGNED</p>
            {{/each}}
          </ul>
        </div>
        <div id="colleague" class="container-fluid tab-pane fade" style="background-color:white">
          <br><br>
          <p>** Books written by {{staff.surname}} is not available at the moment.Please check back later</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-lg-4">
      <br><br><br>
      <ul class="card">
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="#" title="message">CHAT</a> <span class="fa fa-whatsapp"
              style="font-size:25px"></span></h6>
          <br>
          <p class="card-text">Click to send {{staff.surname}} a message.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="#" title="books">BOOKS</a>
            <span class="fa fa-book" style="font-size:25px"></span></h6>
          <br>
          <p class="crad-text">Click to see books written by {{staff.surname}}.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/admin/stafflist" title="Colleagues">LECTURERS</a>
            <span class="fa fa-users" style="font-size:25px"></span>
          </h6>
          <br>
          <p class="card-text">Click to see other psychology lecturers.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold">DELETE LECTURER
            <span class="fa fa-trash" style="font-size:25px"></span>
          </h6>
          <form action="/admin/deletestaff/{{staff.id}}" method="POST">
            <input type="hidden" />
            <button type="submit" class="btn btn-danger btn-sm"><span class="fa fa-trash"
                style="font-size:20px"></span></button>
          </form>
          <p class="card-text">Deleting a lecturer will remove all his/her details and all fields associated with them
            on this website and cannot be retrieved.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>