<br>
<h5><b>
        COURSE DETAILS
    </b>
</h5>
<br><br>
{{#if message}}
    <p class="alert alert-success">{{message}}</p>
{{/if}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-7">
            <p><b>COURSE CODE:</b> {{kind.coursecode}}</p>
            <br>
            <p><b>COURSE TITLE: </b> {{kind.coursetitle}}</p>
            <br>
            <p><b>LEVEL: </b> {{kind.level}}</p>
            <br>
            <p><b>SEMESTER:</b> {{kind.semester}}</p>
            <br>
            <p><b>UNITS: </b>{{kind.units}}</p>
            <br>
            <p><b>BORROWED COURSE: </b>{{kind.borrowed}}</p>
            <br>
            <p><b>LECTURER / S: </b></p>
            <br>
            {{#each lecky}}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <a href="/admin/staffprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a>
                        </div>
                        <div class="col-4">
                            <form action="/admin/deletecourselecturer/{{../kind.id}}" method="POST">
                                <input style="display:none" type="text" name="lect" value="{{this.id}}" />
                                <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            {{/each}}
            <br>
            <button id="shew" class="btn btn-primary" style="display:inline">Add lecturer</button>
            <button id="showed" class="btn btn-danger" style="display:none">Close</button>
            <div id="glory" style="display:none">
                <p><b>ADD LECTURER: </b>
                    <form action="/admin/editcourselecturer/{{kind.id}}" method="POST">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <select name="lecturee" class="form-control">
                                        {{#each teacher}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
            <script>
                $(document).ready(function () {
                    $('#shew').click(function () {
                        $('#glory').toggle("slow");
                        $('#showed').toggle("slow");
                        $('#shew').toggle("slow");
                    });
                    $('#showed').click(function () {
                        $('#shew').toggle("slow");
                        $('#glory').toggle("slow");
                        $('#showed').toggle("slow");
                    });
                });

            </script>
            <br>
        </div>
    </div>
</div>
<br>
<h5><b>
        COURSE OUTLINE
    </b></h5>
<br>
{{#if kind.courseoutline}}
    <p>{{kind.courseoutline}}</p>
{{else}}
    <p>COURSE OUTLINE NOT AVAILABLE</p>
{{/if}}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a href="/admin/addcourseoutline/{{kind.id}}" type="button" class="btn btn-info btn-block"><span class="fa fa-edit"
                    style="font-size:25px"></span>
            </a>
        </div>
        <div class="col-4">
            <a href="/admin/viewcourselect/{{kind.id}}" type="button" class="btn btn-primary btn-block"><span class="fa fa-users"
                    style="font-size:25px"></span></a>
        </div>
        <div class="col-4">
            <form action="/admin/deletecourse/{{kind.id}}" method="POST">
                <input type="hidden" />
                <button type="submit" class="btn btn-danger btn-block disabled"><span class="fa fa-trash" style="font-size:25px"></span>
                </button>
            </form>
        </div>
    </div>
</div>
<br><br>