<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h4><b>
            <center>COURSE DETAILS</center>
        </b>
    </h4>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-7">
                <p><b>Course_Code:</b> {{kind.coursecode}}</p>
                <br>
                <p><b>Course_Title: </b> {{kind.coursetitle}}</p>
                <br>
                <p><b>Level: </b> {{kind.level}}</p>
                <br>
                <p><b>Semester:</b> {{kind.semester}}</p>
                <br>
                <p><b>Units: </b>{{kind.units}}</p>
                <br>
                <p><b>Borrowed_Course: </b>{{kind.borrowed}}</p>
                <br>
                <p><b>Lecturer: </b><a href="/staffprofile/{{teacher.id}}">{{teacher.name}}</a></p>
            </div>
        </div>
    </div>
    <br>
    <h5><b>
            <center>COURSE OUTLINE</center>
        </b></h5>
    <br>
    {{#if kind.courseoutline}}
        <p>{{kind.courseoutline}}</p>
    {{else}}
        <p>COURSE OUTLINE NOT AVAILABLE</p>
    {{/if}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href="/addcourseoutline/{{kind.id}}" type="button" class="btn btn-info btn-block"><span class="fa fa-edit"></span>
                    EDIT</a>
            </div>
            <div class="col-4">
                <form action="/deletecourse/{{kind.id}}" method="POST">
                    <input type="hidden" />
                    <button type="submit" class="btn btn-danger btn-block"><span class="fa fa-trash"></span> DELETE</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>