<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h3><b>
            <center>STUDENT'S PROFILE</center>
        </b></h3>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-6">
                <a href="/{{photo}}">
                    <img src="/{{photo}}" alt="profile image" class="rounded" width="100%" />
                </a>
            </div>
            <br><br>
            <div class="col-12 col-md-8 col-lg-6">
                <p><b>E-MAIL:</b> {{email}}</p>
                <br>
                <p><b>SURNAME: </b> {{surname}}</p>
                <br>
                <p><b>FIRSTNAME: </b> {{firstname}}</p>
                <br>
                <p><b>MAT. NUMBER :</b> {{matnumber}}</p>
                <br>
                <p><b>LEVEL: </b>{{level}}</p>
                <br>
                <p><b>GENDER: </b>{{gender}}</p>
                <br>
                <p><b>PHONE NUMBER: </b>{{phone}}</p>
                <br>
                <p><b>STATUS: </b>{{quote}}</p>
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href="#" type="button" class="btn btn-primary btn-block btn-lg disabled">RESULTS <span class="fa fa-book"
                        style="font-size:25px"></span></a>
            </div>
            <div class="col-4">
                <a href="#" type="button" class="btn btn-success btn-lg disabled btn-block"><span class="fa fa-whatsapp"
                        style="font-size:25px"></span></a>
            </div>
            <div class="col-4">
                <a href="/list{{level}}students" type="button" class="btn btn-primary btn-lg btn-block"><span class="fa fa-users"
                        style="font-size:25px"></span></a>
            </div>
        </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>