<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h3><b><center>STUDENT'S PROFILE</center></b></h3>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-6">
                <a href="/{{photo}}"> 
                    <img src="/{{photo}}" alt="profile image" class="rounded" width="100%" />
                </a>
            </div>
            <br><br>
            <div class="col-sm-12 col-md-8 col-lg-6">
                <p><b>E-MAIL:</b> {{email}}</p>
                <p><b>SURNAME: </b> {{surname}}</p>
                <p><b>FIRSTNAME: </b> {{firstname}}</p>
                <p><b>MAT. NUMBER :</b> {{matnumber}}</p>
                <p><b>LEVEL: </b>{{level}}</p>
                <p><b>GENDER: </b>{{gender}}</p>
                <p><b>PHONE NUMBER: </b>{{phone}}</p>
                <p><b>STATUS: </b>{{quote}}</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" type="button" class="btn btn-primary btn-block btn-lg disabled">RESULTS</a>
            </div>
            <div class="col-sm-4">
                <a href="#" type="button" class="btn btn-primary btn-lg disabled btn-block">SEND_MESSAGE</a>
            </div>
            <div class="col-sm-4">
                <a href="/list{{level}}students" type="button" class="btn btn-primary btn-lg btn-block">FRIENDS</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>