<br>
<h5><b>Student({{student.surname}} {{student.firstname}}) {{#if student.is_courserep}} <span class="fa fa-star-o"
        style="font-size:20px;color:red"></span>{{/if}}</b>
</h5>
<br>
{{#if message}}
  <p class="alert alert-danger">{{message}}</p>
  <br>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
      {{#if student.photo.url}}
        <img src="{{student.photo.url}}" alt="profile image" class="rounded profileImage" />
      {{else}}
        <img src="/images/psylogo4.jpg" alt="profile image" class="rounded profileImage" />
      {{/if}}
      <br><br>
    </div>
  </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-7">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#result">OTHERS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container-fluid tab-pane active" style="background-color:white">
          <br><br>
          <p><b><span class="fa fa-graduation-cap"></span></b> {{student.matnumber}}</p>
          <br>
          <p><b><span class="fa fa-bars"></span> </b>{{student.level}}</p>
          <br>
          <p><b><span class="fa fa-user"></span> </b>{{student.gender}}</p>
          <br>
          <p><b><span class="fa fa-envelope"></span></b> {{student.email}}</p>
          <br>
          <p style="display:inline">{{#if student.is_courserep}}
              <b>remove Courserep:</b>
              <form action="/admin/makecourserep/{{student.id}}" method="POST" style="display:inline">
                <input type="text" style="display:none" class="form-control" name="courserep" value="false" />
                <button type="submit" class="btn btn-danger"><span class="fa fa-thumbs-o-down">
                </button>
              </form>
            {{else}}
              <b>Make Courserep:</b>
              <form action="/admin/makecourserep/{{student.id}}" method="POST" style="display:inline">
                <input type="text" style="display:none" class="form-control" name="courserep" value="true" />
                <button type="submit" class="btn btn-success"><span class="fa fa-thumbs-o-up">
                </button>
              </form>
            {{/if}}
          </p>
          <br>
          <p><b><span class="fa fa-phone"></span> </b>0{{student.phone}}</p>
          <br>
          <p><b><span class="fa fa-comment-o"></span> </b>{{student.bio}}</p>
          <br>
          <p><b><span class="fa fa-calendar"> </span> </b>{{datey}}.</p>
          <br>
        </div>
        <div id="info" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h5><b>
              COURSES OFFERED THIS SEMESTER <span
                class="badge badge-danger badge-pill spany">{{length registered_courses}}
            </b>
          </h5>
          <br><br>
          <div class="container-fluid">
            <div class="row">
              {{#each registered_courses}}
                <div class="col-12">
                  <p>{{this.coursecode}}: <a href="/admin/viewcourse/{{this.id}}">{{this.coursetitle}}</a>
                  </p>
                  <br>
                </div>
              {{else}}
                <p>NO REGISTERED COURSE...</p>
              {{/each}}
            </div>
          </div>
        </div>
        <div id="result" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h6>OTHER INFO.</h6>
          <p>Additional Informations about {{student.surname}} is not currently Available.</p>
          <br><br>
          <p><b><span class="fa fa-globe"> </span></b></p>
          <br>
          <p><b><span class="fa fa-facebook"> </span></b></p>
          <br>
          <p><b><span class="fa fa-instagram"> </span></b></p>
          <br>
          <p><span class="fa fa-twitter"> </span></p>
          <br>
          <p><span class="fa fa-handshake-o"> </span></p>
          <br>
          <p><span class="fa fa-expeditedssl"> </span></p>
          <br>
          <p><b><span class="fa fa-gavel"> </span></b></p>
          <br>
          <p><b><span class="fa fa-pencil-alt"> </span></b></p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-lg-4">
      <br><br><br>
      <ul class="card">
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/admin/studentfullresults/{{student.id}}"
              title="Coursemates">RESULT</a>
            <span class="fa fa-briefcase" style="font-size:25px"></span>
          </h6>
          <br>
          <p class="card-text">Click to see {{student.surname}}'s results...</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/admin/liststudents/{{student.level}}"
              title="results">COURSEMATES</a>
            <span class="fa fa-users" style="font-size:25px"></span></h6>
          <br>
          <p class="crad-text">Click to view {{student.surname}}'s coursemates.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> DELETE</h6>
          <br>
          <p class="card-text">Deleting a student will remove all their records from this website and cannot be
            retrieved.
            <form action="/admin/deletestudent/{{student.id}}" method="POST">
              <input type="hidden" />
              <button type="submit" class="btn btn-danger"><span class="fa fa-trash"
                  style="font-size:20px"></span></button>
            </form>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>