<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h1><b>
            <center>STAFF'S PROFILE</center>
        </b></h1>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/{{photo}}" alt="profile image" class="rounded" width="100%" />
            </div>
            <div class="col-sm-12 col-lg-6">
                <p><b>E-MAIL:</b> {{email}}</p>
                <br>
                <p><b>SURNAME: </b> {{surname}}</p>
                <br>
                <p><b>FIRSTNAME: </b> {{firstname}}</p>
                <br>
                <p><b>STAFF_ID: </b>{{staff_id}}</p>
                <br>
                <p><b>GENDER: </b>{{gender}}</p>
                <br>
                <p><b>PHONE NUMBER: </b>{{phone}}</p>
                <br>
                <p><b>STATUS: </b>{{quote}}</p>
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <h3><b>
            <center>COURSES HANDLED</center>
        </b></h3>
    <br>
    <ol>
        {{#each coursess}}
            <li>
                <p><b>{{this.coursecode}}: </b><a href="/adminviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
            </li>
            {{else}}
                <p>NO COURSE ASSIGNED</p>
        {{/each}}
    </ol>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <a href="/stafflist" type="button" class="btn btn-primary btn-lg btn-block"><span class="fa fa-users"
                        style="font-size:25px"></span></a>
            </div>
            <div class="col-sm-4">
                <a href="#" type="button" class="btn btn-success btn-lg disabled btn-block"><span class="fa fa-whatsapp"
                        style="font-size:25px"></span></a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>