<br>
<h5><b>
        LATEST NEWS!!
    </b>
</h5>
{{#forEach newspaper}}
    <p>lovely {{this.likes}}</p>
{{/forEach}}
<br>
<p>The length of all the news is {{length newspaper}}</p>
<ul>
    {{#each newspaper}}
        <li class="container-fluid card">
            <div class="row">
                <div class="col-12 card-header" style="background-color: rgb(248, 223, 240)">
                    <h4>
                        <center><a href="/testinggetfullnews/{{this.id}}">{{this.heading}}</a></center>
                    </h4>
                    <br>
                </div>
                <br>
                <div class="col-12 col-md-6 col-lg-5">
                    <img src="{{this.picture}}" alt="image" class="rounded" width="100%" height="300" />
                    <br><br>
                </div>
                <br>
                <div class="col-12 col-md-6 col-lg-7 card-body">
                    <p>{{this.passage}}</p>
                </div>
                <div class="col-12 card-footer">
                    <button class="btn btn-danger"><span class="fa fa-commenting-o"></span> comments<span></span></button>
                    <form action="/studentnewslike/{{this.id}}" method="POST" style="display:inline">
                        <input type="text" style="display:none" class="form-control" name="like" />
                        <button type="submit" id="sender{{this.id}}" class="btn btn-primary"><span class="fa fa-thumbs-o-up">
                                Like<span>
                                    {{this.likes}}</span></button>
                    </form>
                    <form action="/studentnewsdislike/{{this.id}}" method="POST" style="display:inline">
                        <input type="text" style="display:none" class="form-control" name="like" />
                        <button type="submit" class="btn btn-danger"><span class="fa fa-thumbs-o-down"></span>
                            Dislike <span>
                                {{this.dislikes}}</span></button>
                    </form>
                </div>
            </div>
            <br><br><br>
            {{else}}
                <p><b>THERE ARE NO UPLOADED NEWS</b></p>
        </li>
    {{/each}}
</ul>
<br><br>