<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br>
    <br>
    <h2>
        <center>Welcome {{gracefirstname}} !!</center>
    </h2>
    <p><b>User ID:</b> {{user}}</p>
    <p><b>Email:</b> {{graceemail}}</p>
    <p><b>Surname: </b> {{gracesurname}}</p>
    <p><b>FirstName: </b> {{gracefirstname}}</p>
    <p><b>Mat.Number :</b> {{gracematnumber}}</p>
    <p><b>Level: </b>{{gracelevel}}</p>
    <p><b>Gender: </b>{{gracegender}}</p>
    <p><b>Phone Number: </b>{{gracephone}}</p>
    <br><br> {{>footer}}
</body>

</html>