<br>
<h6>
  <b>
    YOUR MESSAGES
  </b>
</h6>
<br><br>
<ul class="list-group list-group-flush">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-9">
        {{#each messagess}}
          <li class="container-fluid list-group-item">
            <div class="row">
              {{#each this.details}}
                {{#if this.photo.url}}
                  <div class="col-4 col-sm-2">
                    <img src="{{this.photo.url}}" alt="profile pics" class="profile" />
                  </div>
                {{else}}
                  <div class="col-4 col-sm-2">
                    <img src="/images/psylogo4.jpg" alt="profile pics" class="profile" />
                  </div>
                {{/if}}
                <div class="col-8 col-sm-10">
                  <p><a href="/getmessages/{{this.id}}">{{this.name}}</a>{{#if ../this.message.read}}<span
                        class="badge badge-danger badge-pill spany float-right">X</span>
                    {{else}}<span class="badge badge-success badge-pill spany float-right">new</span>{{/if}}</p>
              {{/each}}
              <p>
                <b><span class="fa fa-comment-o"> </span> </b>{{truncate this.message.body 20}}<br>
              </p>
              <small class="float-right"><i>{{datey this.message.date}}</i></small>
            </div>
      </div>
      </li>
      <br>
      {{else}}
        <p>You have no messages!!!...</p>
        {{/each}}
    </div>
  </div>
</ul>
<br><br>