<br>
<h5>
  <b>
    YOUR MESSAGES
  </b>
</h5>
<br><br>
<ul class="list-group list-group-flush"></ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      {{#each chat}}
        <li class="container-fluid list-group-item">
          <div class="row">
            {{#if this.photo}}
              <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                <img src="../{{this.photo}}" alt="profile pics" class="rounded-circle profile" />
              </div>
            {{else}}
              <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                <img src="../images/psylogo4.jpg" alt="profile pics" class="rounded-circle profile" />
              </div>
            {{/if}}
            <div class="col-7 col-sm-8 col-md-9 col-lg-10">
              <p><a href="/getmessages/{{this.id}}">{{this.name}}</a></p>
              <p>
                <b><span class="fa fa-comment-o"> </span> </b> Our last chat<br>
              </p>
            </div>
          </div>
        </li>
        <br>
      {{/each}}
    </div>
  </div>
</div>
</ul>
<br><br>
{{#if chat}}
  {{#each chat}}
    <p>{{this.name}} {{this.photo}}</p>
  {{/each}}
{{else}}
  <p>YOU DON'T HAVE ANY MESSAGES FOR NOW!!...</p>
{{/if}}
<br><br>
{{#if messages}}
  {{#each messages}}
    <p>{{this.body}}</p>
  {{/each}}
{{else}}
  <p>YOU DON'T HAVE ANY MESSAGES FOR NOW!!...</p>
{{/if}}
<br><br>
{{#if conver}}
  {{#each conver}}
    <p>{{this.user1}}</p>
  {{/each}}
{{else}}
  <p>YOU DON'T HAVE ANY CONVERSATION FOR NOW!!...</p>
{{/if}}