<br>
<h5>
    <b>

        {{head}}
    </b>
</h5>
<div class="dropdown" style="float:right">
    <button class="btn btn-secondary dropdown" data-toggle="dropdown">search</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/student100mates">100L</a>
        <a class="dropdown-item" href="/student200mates">200L</a>
        <a class="dropdown-item" href="/student300mates">300L</a>
        <a class="dropdown-item" href="/student400mates">400L</a>
    </div>
</div>
<br><br><br><br>
<ul>
    {{#each slow}}
        <li class="container-fluid">
            <div class="row">
                {{#if this.photo}}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../{{this.photo}}" alt="profile pics" class="rounded-circle profile" />
                    </div>
                {{else}}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../images/psylogo4.jpg" alt="profile pics" class="rounded-circle profile" />
                    </div>
                {{/if}}
                <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                    <p><a href="/studentstudentprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                    <p>
                        <b>Gender: </b>{{this.gender}}<br>
                        <b>Status: </b>{{this.bio}}
                    </p>
                </div>
            </div>
        </li>
        <br><br>
        {{else}}
            <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
    {{/each}}
</ul>
<br><br>