<br>
<h5><b>
    {{levy}} LEVEL COURSES
  </b>
</h5>
<div class="dropdown">
  <button class="btn btn-secondary dropdown" data-toggle="dropdown">search</button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="/studentgetallcourses">100 LEVEL</a>
    <a class="dropdown-item" href="/studentget200courses">200 LEVEL</a>
    <a class="dropdown-item" href="/studentget300courses">300 LEVEL</a>
    <a class="dropdown-item" href="/studentget400courses">400 LEVEL</a>
  </div>
</div>
<h6><b>
    FIRST SEMESTER COURSES
  </b>
</h6>
<div class="container-fluid">
  <div class="row">
    <nav class="col-12">
      <div class="table-responsive-sm">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>COURSE CODE</th>
              <th>COURSE TITLE</th>
              <th class="seek">LEVEL</th>
              <th class="seek">SEMESTER</th>
              <th class="seek">UNIT/S</th>
              <th>COURSE OUTLINE</th>
            </tr>
          </thead>
          {{#each first}}
            <tr>
              <td>{{this.coursecode}}</td>
              <td>{{this.coursetitle}}</td>
              <td class="seek">{{this.level}}</td>
              <td class="seek">{{this.semester}}st</td>
              <td class="seek">{{this.units}}</td>
              <td><a href="/studentviewcourse/{{this.id}}">view course</a></td>
            </tr>
          {{else}}
            <p>THERE ARE NO REGISTERED FIRST SEMESTER COURSES</p>
          {{/each}}
        </table>
        <br>
        <h5>
          ELECTIVE COURSES: {{elective1}}
        </h5>
        <table class="table table-hover table-bordered">
          {{#each first_borrowed}}
            <tr>
              <td>{{this.coursecode}}</td>
              <td>{{this.coursetitle}}</td>
              <td class="seek">{{this.level}}</td>
              <td class="seek">{{this.semester}}st</td>
              <td class="seek">{{this.units}}</td>
              <td><a href="/studentviewcourse/{{this.id}}">view course</a></td>
            </tr>
          {{else}}
            <p>THERE ARE NO REGISTERED BORROWED COURSES</p>
          {{/each}}
        </table>
      </div>
    </nav>
  </div>
</div>
<br>
<br>
<h5><b>
    SECOND SEMESTER COURSES
  </b></h5>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-12">
      <div class="table-responsive-sm">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>COURSE CODE</th>
              <th>COURSE TITLE</th>
              <th class="seek">LEVEL</th>
              <th class="seek">SEMESTER</th>
              <th class="seek">UNIT/S</th>
              <th>COURSE OUTLINE</th>
            </tr>
          </thead>
          {{#each second}}
            <tr>
              <td>{{this.coursecode}}</td>
              <td>{{this.coursetitle}}</td>
              <td class="seek">{{this.level}}</td>
              <td class="seek">{{this.semester}}nd</td>
              <td class="seek">{{this.units}}</td>
              <td><a href="/studentviewcourse/{{this.id}}">view course</a></td>
            </tr>
          {{else}}
            <p>THERE ARE NO REGISTERED SECOND SEMESTER COURSES</p>
          {{/each}}
        </table>
        <br>
        <h5>
          ELECTIVE COURSES: {{elective2}}
        </h5>
        <table class="table table-hover table-bordered">
          {{#each second_borrowed}}
            <tr>
              <td>{{this.coursecode}}</td>
              <td>{{this.coursetitle}}</td>
              <td class="seek">{{this.level}}</td>
              <td class="seek">{{this.semester}}nd</td>
              <td class="seek">{{this.units}}</td>
              <td><a href="/studentviewcourse/{{this.id}}">view course</a></td>
            </tr>
          {{else}}
            <p>THERE ARE NO REGISTERED BORROWED COURSES</p>
          {{/each}}
        </table>
      </div>
    </nav>
  </div>
</div>
<br><br>