<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>student_lecbody}}
    <br>
    <h2><b>
            <center>COURSEMATES</center>
        </b></h2>
    <br><br>
    <ul>
        {{#each slow}}
            <li class="container-fluid">
                <div class="row">
                    {{#if this.photo}}
                        <div class="col-4 col-sm-4 col-md-3 col-lg-2">
                            <img src="/{{this.photo}}" alt="image" class="rounded-circle" width="100%" height="130" />
                        </div>
                    {{else}}
                        <div class="col-4 col-sm-4 col-md-3 col-lg-2">
                            <img src="../images/psylogo4.jpg" alt="image" class="rounded-circle" width="100%" height="130" />
                        </div>
                    {{/if}}
                    <div class="col-8 col-sm-8 col-md-9 col-lg-10">
                        <p><a href="/studentstudentprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                        <p>
                            <b>MAT.NUMBER: </b>{{this.matnumber}}<br>
                            <b>GENDER: </b>{{this.gender}}<br>
                            <b>STATUS: </b>{{this.bio}}
                        </p>
                    </div>
                </div>
            </li>
            <br><br>
            {{else}}
                <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
        {{/each}}
    </ul>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>