<h5>
  <b>
    {{replyer.name}}
  </b>
</h5>
<h6 class="alert alert-success">Your chat is secured with end to end encryption <span class="fa fa-lock"> </span></h6>
<br>
<ul id="messages">
  {{#if chats}}
    {{#each chats}}
      <div class="container-fluid">
        <div class="row">
          {{#is_equal this.sender}}
            <div class="col-10 col-sm-9 col-md-6 col-lg-4">
              <li class="card" style=" background-color:rgb(245, 219, 223)">
                <p style="color:purple"><b>{{../replyer.name}}</b></p>
                <p>{{this.body}}</p>
                <small><i class="float-right">{{datey this.date}}</i></small>
              </li>
              <br>
            </div>
            <div class="col-2 col-sm-3 col-md-6 col-lg-8"></div>
            <br><br>
    {{else}}
      <div class="col-2 col-sm-3 col-md-6 col-lg-8"></div>
      <div class="col-10 col-sm-9 col-md-6 col-lg-4">
        <li class="card" style="background-color:rgb(213, 248, 213)">
          <p style="color:red"><b>You</b></p>
          <p>{{this.body}}</p>
          <small><i class="float-right">{{datey this.date}}</i></small>
        </li>
        <br>
      </div>
          {{/is_equal}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <h6>THERE ARE NO CHAT MESSAGES</h6>
  {{/if}}
</ul>
<br><br>
<form id="formy" style="display:none;width:100%;position:fixed;bottom:0">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-9" style="display:none">
        <input type=" text" id="party" name="party" value="{{receiver}}" />
        <input type="text" id="soccer" value="{{converse}}" />
      </div>
      <div class="col-9">
        <textarea type="text" rows="1" cols="20" class="form-control" id="comment" name="message"
          placeholder="Type a message..." required></textarea>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-success" id="stylus"><span class="fa fa-play"></span></button>
      </div>
    </div>
  </div>
</form>
<button class="btn btn-success btn-sm" id="seer" style="border-radius:50%;position:fixed;bottom:20px;left:90%"><span
    class="fa fa-comments"></span></button>
<script>
  $(document).ready(function () {
    $('#seer').click(function () {
      $('#formy').toggle("slow");
      $('#seer').toggle("slow");
    });
  });
</script>
<script>
  $('document').ready(function () {
    var socket = io();
    $('#formy').submit(function (event) {
      event.preventDefault();
      var msg = $('#comment').val();
      var party = $('#party').val();
      $.post(
        '/newconversation/' + party, {
          message: msg
        },
        function (response, err) {
          if (response) {
            console.log(response, 'success')
          } else if (err) {
            console.log(err, 'error')
          }
        });

      $('#comment').val('');
    });
    socket.on($('#soccer').val(), function (msg) {
      if (msg.sender == '{{allowed.id}}') {
        $('#messages').append($('<div class="col-10 col-sm-9 col-md-6 col-lg-4 float-right"></div>').html('<li class="card" style="background-color:rgb(213, 248, 213)"><p style="color:red"><b>' + 'You' + '</b></p><p>' + msg.body + '</p><small><i class="float-right">' + '{{datey msg.date}}' + '</i></small>' + '</li>' + '<br>'));
      }
      else {
        $('#messages').append($('<div class="col-10 col-sm-9 col-md-6 col-lg-4 float-left"></div>').html('<li class="card" style="background-color:rgb(245, 219, 223)""><p style="color:purple"><b>' + 'User' + '</b></p><p>' + msg.body + '</p><small><i class="float-right">' + '{{datey msg.date}}' + '</i></small>' + '</li>' + '<br>'));
      }
    });
  });
</script>