{{#if message}}
  <p class="alert alert-success">{{message}}</p>
  <br>
{{/if}}
<h5><b>{{user.surname}} {{user.firstname}}{{#if user.is_courserep}} <span class="fa fa-star-o"
        style="font-size:20px;color:red"></span>{{/if}}</b>
</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
      {{#if user.photo.url}}
        <img src="{{user.photo.url}}" alt="profile image" class="rounded profileImage" />
      {{else}}
        <img src="/images/psylogo4.jpg" alt="profile image" class="rounded profileImage" />
      {{/if}}
      <form action="/studentupdatepics/{{user.id}}" method="POST" enctype="multipart/form-data">
        <input type="file" id="filer" name="image" style="display:none" required>
        <button type="submit" id="submiter" class="btn btn-danger" style="display:none"><span
            class="fa fa-edit"></span></button>
      </form>
      <button id="cousin" class="btn btn-success" style="margin-top:-40px"><span class="fa fa-camera"></span></button>
      <br><br>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#cousin').click(function () {
      $('#filer').click();
      $('#submiter').toggle('slow');
      $('#cousin').toggle('slow');
    });
  });
</script>
<br><br><br><br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-7">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#result">FRIENDS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container-fluid tab-pane active" style="background-color:white">
          <br><br>
          <p><b><span class="fa fa-graduation-cap"> </span> </b> {{user.matnumber}}</p>
          <br>
          <p><b><span class="fa fa-bars"> </span> </b>{{user.level}} Level</p>
          <br>
          <p><b><span class="fa fa-user"> </span> </b>{{user.gender}}</p>
          <br>
          <p><b><span class="fa fa-envelope"> </span></b> {{user.email}}</p>
          <br>
          <p><b><span class="fa fa-phone"> </span> </b>0{{user.phone}}.</p>
          <br>
          <p><b><span class="fa fa-comment-o"> </span> </b>{{user.bio}}</p>
          <br>
          <p><b><span class="fa fa-calendar"> </span> </b>Joined : {{datey user.date}}.</p>
          <br>
          <p><b><span class="fa fa-calendar"> </span> </b>Last updated : {{datey user.updated}}.</p>
          <br>
        </div>
        <div id="info" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h5><b>
              COURSES OFFERED THIS SEMESTER <span
                class="badge badge-danger badge-pill spany">{{length registered_courses}}</span>
            </b>
          </h5>
          <br><br>
          <div class="container-fluid">
            <div class="row">
              {{#each registered_courses}}
                <div class="col-10 col-md-8 col-lg-11">
                  <p><b>{{this.coursecode}}: </b> <a href="/studentviewcourse/{{this.id}}">{{this.coursetitle}}</a>
                  </p>
                </div>
                <div class="col-2 col-md-2 col-lg-1">
                  <form action="/deleteregisteredcourse/{{this.id}}" method="POST" style="display:inline">
                    <input type="hidden" />
                    <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span></button>
                  </form><br><br>
                </div>
              {{else}}
                <p>NO REGISTERED COURSE</p>
              {{/each}}
            </div>
          </div>
        </div>
        <div id="result" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h5>FRIENDS</h5>
          <p>NOT AVAILABLE...</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-lg-4">
      <br><br><br>
      <ul class="card">
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/myfullresults/{{user.id}}" title="results">RESULT</a>
            <span class="fa fa-briefcase" style="font-size:25px"></span></h6>
          <br>
          <p class="crad-text">Click to check your accumulated results.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/studentupdateprofile/{{user.id}}"
              title="Edit profile">UPDATE</a> <span class="fa fa-edit" style="font-size:25px"></span></h6>
          <br>
          <p class="card-text">Click to update your profile details.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/studentmates/{{allowed.level}}"
              title="Coursemates">COURSEMATES</a>
            <span class="fa fa-users" style="font-size:25px"></span>
          </h6>
          <br>
          <p class="card-text">Click to see your coursemates and their activities.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>