<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>student_lecbody}}
    <br>
    <br>
    <h3>
        <b><center>YOUR PROFILE.</center></b>
    </h3>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <a href="/{{gracephoto}}"><img src="/{{gracephoto}}" alt="profile image" class="rounded" width="100%" /></a>
                <br><br>
            </div>
            <div class="col-sm-12 col-lg-8">
                <p><b>E-MAIL:</b> {{graceemail}}</p>
                <p><b>SURNAME: </b> {{gracesurname}}</p>
                <p><b>FIRSTNAME: </b> {{gracefirstname}}</p>
                <p><b>MAT. NUMBER :</b> {{gracematnumber}}</p>
                <p><b>LEVEL: </b>{{gracelevel}}</p>
                <p><b>GENDER: </b>{{gracegender}}</p>
                <p><b>PHONE NUMBER: </b>{{gracephone}}</p>
                <p><b>STATUS: </b>{{gracebio}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href="#" type="button" class="btn btn-primary btn-block btn-lg disabled">RESULTS</a>
            </div>
            <div class="col-4">
                <a href="/studentupdateprofile/{{user}}" type="button" class="btn btn-success btn-lg btn-block">EDIT PROFILE</a>
            </div>
            <div class="col-4">
                <a href="/studentstudentlist" type="button" class="btn btn-primary btn-lg btn-block">COURSEMATES</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>