<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>lecbody}}
    <br>
    <h2>
        <center>Welcome {{gracesurname}} , {{gracefirstname}} !!</center>
    </h2>
    <p><b>User ID:</b> {{user}}</p>
    <p><b>Email:</b> {{graceemail}}</p>
    <p><b>Surname: </b> {{gracesurname}}</p>
    <p><b>FirstName: </b> {{gracefirstname}}</p>
    <p><b>Mat.Number :</b> {{gracematnumber}}</p>
    <p><b>Level: </b>{{gracelevel}}</p>
    <p><b>Gender: </b>{{gracegender}}</p>
    <p><b>Phone Number: </b>{{gracephone}}</p>
    <br><br>
    <a href="" type="button" class="btn btn-primary">Check Result</a>
    <button class="btn btn-primary">Time Table</button>
    <a href="#" type="button" class="btn btn-primary">Edit Profile</a>
    <br><br> {{>footer}}
</body>

</html>