{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}
<br>
<h5>
  <b>
    {{allowed.surname}}'s Homepage
  </b>
</h5>
<ul>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/unnamed (1).png" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/gettimetable"><b>SCHEDULE</b></a></p>
        <p>
          Click to view your Time Table for this semester. <span class="seek">Time tables can only be edited
            by a course representative or his/her assistant.</span>
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (11).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/studentmates/{{allowed.level}}"><b>COURSEMATES</b></a></p>
        <p>
          You can see all your Coursemates/Levelmates, and view their Profiles.<span class="seek">You can also send them
            a message and see their activities.</span>
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (11).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/studentlevelmates"><b>ALL PSYCHOLOGY STUDENTS</b></a></p>
        <p>
          You can also see all Psychology students, and view their Profiles.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (16).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/studentgetcourse/{{allowed.level}}"><b>BSC. COURSES</b></a></p>
        <p>Click to view courses offered by each level. You can also register your courses for the
          semester.<span class="seek"> Endeavor to register your prefered courses for proper results
            collations.</span> </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (23).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/studentsstafflist"><b>LECTURERS</b></a></p>
        <p>
          You can see all your Lecturers, the courses they handle, and View their Profiles.<span class="seek">You can
            also send them a message.</span>
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (30).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/myfullresults/{{allowed.id}}"><b>CHECK RESULTS</b></a></p>
        <p>
          Check all your accummulated Results for the semesters, and also see your CGPA.<span class="seek">Carryover
            courses will be updated when you re-write the course and the result is available to the department.</span>
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="../images/images (17).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-md-9 col-lg-10">
        <br>
        <p><a href="/studentgetprojecttopics"><b>PROJECT TOPICS </b></a></p>
        <p> Click to view Project Topics carried out by past Psychology Students, and get insights
          on how to write a psychology project.
        </p>
      </div>
    </div>
  </li>
</ul>