<br>
<h5><b>
    LATEST NEWS!!
  </b>
</h5>
<br>
<ul>
  <div class="container-fluid">
    <div class="row">
      {{#each newspaper}}
        <div class="col-12 col-sm-6 col-lg-4">
          <li class="card">
            <div class="col-12 card-header">
              <h5>
                <b>
                  <a href="/studentgetfullnews/{{this.id}}">{{this.heading}}</a>
                </b>
              </h5>
            </div>
            <div class="card-body col-12">
              <img src="{{this.picture.url}}" alt="news image" class="rounded news" />
              <br><br>
              <p>{{truncate this.passage 130}}</p>
              <small class="float-right"> Posted on: {{datey this.updated}}</small>
            </div>
            <div class="col-12 card-footer">
              <span class="fa fa-comments-o" style="font-size:20px;color:rgb(15, 132, 241)"> </span>
              <span style="font-size:20px"> {{length this.comments}}</span>
              <span class="float-right" id="spn{{this.id}}" style="font-size:20px"> {{length this.likey}}</span>
              {{#inArray this.likey ../allowed.id}}
                <span class="fa fa-heart-o float-right" style="margin-right:10px;font-size:20px;color:rgb(245, 56, 71)">
                </span>
      {{else}}
        <form id="newslike{{this.id}}" action="/newslike/{{this.id}}" method="POST" style="display:inline">
          <input type="text" style="display:none" id="newsId{{this.id}}" value="{{this.id}}" />
          <input type="text" style="display:none" id="userId" value="{{../allowed.id}}" />
          <button type="submit" class="btn btn-light fa fa-heart-o float-right" style="margin-top:-3px;font-size:20px">
          </button>
        </form>
              {{/inArray}}
            </div>
          </li>
          <br><br>
        </div>
        <script>
          // function for live update when news is liked without page reload
          $('document').ready(function () {
            var socket = io();
            $('#newslike{{this.id}}').submit(function (event) {
              event.preventDefault();
              var newsId = $('#newsId{{this.id}}').val();
              var user = $('#userId').val();

              $.post(
                '/newslike/' + newsId,
                {
                  newsId: newsId,
                  user: user
                },
                function (response, err) {
                  if (response) {
                    console.log('success');
                  } else {
                    console.log(err, 'err');
                  }
                });
            });
            socket.on($('#newsId{{this.id}}').val(), function (msg) {
              $('#spn{{this.id}}').text(Number(msg) + 1);
            });
          });
        </script>
      {{else}}
        <p><b>THERE ARE NO UPLOADED NEWS</b></p>
      {{/each}}
      <br><br>
    </div>
  </div>
</ul>
<br><br>