<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>student_lecbody}}
    <br>
    <h3>
        <center>LATEST NEWS!!</center>
    </h3>
    <ul>
        {{#each newspaper}}
            <li class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{this.picture}}" alt="NAPS image" class="rounded" width="100%" height="150" />
                    </div>
                    <div class="col-sm-9">
                        <p><a href="/{{this.picture}}">{{this.heading}}</a></p>
                        <br>
                        <p>{{this.passage}}</p>
                    </div>
                </div>
            </li>
            <br>
            {{else}}
                <p>THERE ARE NO UPLOADED NEWS</p>
        {{/each}}
    </ul>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>