<br>
<h4><b>
        <center>COURSE DETAILS</center>
    </b></h4>
<br>
<h5><b>
        <center>{{status}}</center>
    </b>
</h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-7">
            <p><b>COURSE_CODE:</b> {{kind.coursecode}}</p>
            <br>
            <p><b>COURSE_TITLE: </b> {{kind.coursetitle}}</p>
            <br>
            <p><b>LEVEL: </b> {{kind.level}}</p>
            <br>
            <p><b>SEMESTER:</b> {{kind.semester}}</p>
            <br>
            <p><b>UNITS: </b>{{kind.units}}</p>
            <br>
            <p><b>BORROWED_COURSE: </b>{{kind.borrowed}}</p>
            <br>
            <p><b>LECTURER / S: </b></p>
            <br>
            {{#each lecky}}
                <p><a href="/studentstaffprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                <br>
            {{/each}}
            <br>
        </div>
    </div>
</div>
<h5><b>
        <center>COURSE OUTLINE</center>
    </b>
</h5>
<br>
{{#if kind.courseoutline}}
    <p>{{kind.courseoutline}}</p>
{{else}}
    <p>COURSE_OUTLINE NOT AVAILABLE</p>
{{/if}}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <form action="/studentregistercourse/{{kind.id}}" method="POST" style="display:inline">
                <input type="hidden" />
                <button type="submit" class="btn btn-danger btn-block">REG.</button>
            </form>
        </div>
        <div class="col-4">
            <a href="/studentviewcourselect/{{kind.id}}" type="button" class="btn btn-primary btn-block"><span class="fa fa-file"
                    style="font-size:25px"></span></a>
        </div>
        <div class="col-4">
            <a href="#" type="button" class="btn btn-success btn-block disabled"><span class="fa fa-book" style="font-size:25px"></span></a>
        </div>
    </div>
</div>
<br><br>