<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>student_lecbody}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <img src="../images/psylogo4.jpg" alt="profile image" class="rounded" width="100%" height="300" />
            </div>
            <div class="col-sm-9">
                <p><b>COURSE_CODE:</b> {{kind.coursecode}}</p>
                <p><b>COURSE_TITLE: </b> {{kind.coursetitle}}</p>
                <p><b>LEVEL: </b> {{kind.level}}</p>
                <p><b>SEMESTER:</b> {{kind.semester}}</p>
                <p><b>UNITS: </b>{{kind.units}}</p>
                <p><b>BORROWED_COURSE: </b>{{kind.borrowed}}</p>
                <p><b>LECTURER: </b><a href="/studentstaffprofile/{{teacher.id}}">{{teacher.name}}</a></p>
            </div>
        </div>
    </div>
    <br>
    <h3><b><center>COURSE OUTLINE</center></b></h3>
    <br>
    <p>{{kind.courseoutline}}</p>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" type="button" class="btn btn-primary btn-lg btn-block disabled">REGISTER COURSE</a>
            </div>
            <div class="col-sm-4">
                <a href="#" type="button" class="btn btn-primary btn-lg btn-block disabled">DELETE COURSE</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>