<br>
<h5><b>{{staffs.surname}} {{staffs.firstname}}(LECTURER)</b></h5>
<div class="container-fluid">
  <div class="row">
    {{#if staffs.photo.url}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="{{staffs.photo.url}}" alt="profile image" class="rounded" width="100%" />
      </div>
    {{else}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="/images/psylogo4.jpg" alt="profile image" class="rounded" width="100%" />
      </div>
    {{/if}}
  </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-7">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#info">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#courses">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#books">BOOKS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="info" class="container-fluid tab-pane active" style="background-color:white">
          <br><br>
          <p><b><span class="fa fa-envelope"></span> </b> {{staffs.email}}</p>
          <br>
          <p><b><span class="fa fa-user"></span> </b>{{staffs.gender}}</p>
          <br>
          <p><b><span class="fa fa-phone"></span> </b>0{{staffs.phone}}</p>
          <br>
          <p><b><span class="fa fa-comment-o"></span> </b>{{staffs.bio}}</p>
          <br>
        </div>
        <div id="courses" class="container-fluid tab-pane fade" style="background-color:white">
          <br><br>
          <h5>
            <b>COURSES HANDLED <span class="badge badge-danger badge-pill spany">{{length coursess}}</b>
          </h5>
          <br>
          <ul>
            {{#each coursess}}
              <li>
                <p><b>{{this.coursecode}}: </b><a href="/studentviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
              </li>
              <br>
            {{else}}
              <p>NO COURSE ASSIGNED</p>
            {{/each}}
          </ul>
        </div>
        <div id="books" class="container-fluid tab-pane fade" style="background-color:white">
          <br><br>
          <p>** Books written by this lecturer is not available at the moment.Please check back later</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-lg-4">
      <br><br><br>
      <ul class="card">
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/getmessages/{{staffs.id}}" title="Edit profile">CHAT</a>
            <span class="fa fa-whatsapp" style="font-size:25px"></span></h6>
          <br>
          <p class="card-text">Click to send {{staffs.surname}} a message.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="#" title="results">BOOKS</a>
            <span class="fa fa-book" style="font-size:25px"></span></h6>
          <br>
          <p class="crad-text">Click to see books written by {{staffs.surname}}.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/studentsstafflist" title="Coursemates">LECTURERS</a>
            <span class="fa fa-users" style="font-size:25px"></span>
          </h6>
          <br>
          <p class="card-text">Click to see other psychology lecturers.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>