<br>
<h4><b>
        <center>LECTURER PROFILE</center>
    </b></h4>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="/{{photo}}" alt="image" class="rounded" width="100%" />
        </div>
        <div class="col-12 col-md-7">
            <p><b>EMAIL: </b> {{staffs.email}}</p>
            <br>
            <p><b>SURNAME: </b> {{staffs.surname}}</p>
            <br>
            <p><b>FIRSTNAME: </b> {{staffs.firstname}}</p>
            <br>
            <p><b>GENDER: </b>{{staffs.gender}}</p>
            <br>
            <p><b>PHONE NUMBER: </b>{{staffs.phone}}</p>
            <br>
            <p><b>STATUS: </b>{{staffs.bio}}</p>
            <br>
        </div>
    </div>
</div>
<br>
<h5>
    <center><b>COURSES ASSIGNED</b></center>
</h5>
<br>
<ol>
    {{#each coursess}}
        <li>
            <p><b>{{this.coursecode}}: </b><a href="/studentviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
        </li>
        {{else}}
            <p>NO COURSE ASSIGNED</p>
    {{/each}}
</ol>
<br><br>