<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>student_lecbody}}
    <br>
    <h2><b><center>STAFF PROFILE</center></b></h2>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="/{{photo}}" alt="image" class="rounded" width="100%" height="300" />
            </div>
            <div class="col-sm-0 col-md-7">
                <p><b>EMAIL: </b> {{email}}</p>
                <p><b>SURNAME: </b> {{surname}}</p>
                <p><b>FIRSTNAME: </b> {{firstname}}</p>
                <p><b>GENDER: </b>{{gender}}</p>
                <p><b>PHONE NUMBER: </b>{{phone}}</p>
                <p><b>STATUS: </b>{{quote}}</p>
            </div>
        </div>
    </div>
    <br>
    <h3>
        <center><b>COURSES ASSIGNED</b></center>
    </h3>
    <br>
    {{#each coursess}}
        <p><b>COURSE TITLE: </b><a href="/studentviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
        {{else}}
            <p>NO COURSE ASSIGNED</p>
    {{/each}}
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>