<br>
{{#if newspaper}}
    <h4><b>
            <center>{{newspaper.heading}}</center>
        </b></h4>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="/{{newspaper.picture}}" alt="image" class="rounded" width="100%" />
            </div>
            <br>
            <div class="col-12 col-lg-6">
                <p>{{newspaper.passage}}</p>
                <br><br>
            </div>
            <div class="col-12">
                <p>{{newspaper.passage1}}</p>
                <br><br>
                <p>{{newspaper.passage2}}</p>
            </div>
        </div>
    </div>
{{/if}}
<br><br>