<br>
<h5><b>
    {{newspaper.heading}}
  </b>
</h5>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
      <img src="{{newspaper.picture.url}}" alt="news image" class="rounded profileImage" />
      <br><br><br><br>
    </div>
    <div class="col-12">
      <p>{{newspaper.passage}}</p>
      <br><br>
      <p>{{newspaper.passage1}}</p>
      <br><br>
      <p>{{newspaper.passage2}}</p>
    </div>
  </div>
</div>
<br><br>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#comments">COMMENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#likes">LIKES</a>
  </li>
</ul>
<div class="tab-content">
  <div id="comments" class="container-fluid tab-pane active" style="background-color:white">
    <br><br>
    <h5><b>
        COMMENTS<span class="badge badge-danger badge-pill spany">{{length newspaper.comments}}</span>
      </b>
    </h5>
    <br>
    <ul id="messages">
      <div class="container-fluid">
        <div class="row">
          {{#each commune}}
            {{#if this.photo.url}}
              <div class="col-2 col-sm-1">
                <img src="{{this.photo.url}}" class="rounded-circle commentImage" />
              </div>
            {{else}}
              <div class="col-2 col-sm-1">
                <img src="/images/psylogo4.jpg" class="rounded-circle commentImage" />
              </div>
            {{/if}}
            <div class="col-10 col-sm-11">
              <li class="card">
                <p><b>{{this.user}}</b></p>
                <p>{{this.comment.comment}}</p>
              </li>
              <div class="col-12">
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-light btn-sm btn-block"><span class="fa fa-thumbs-o-up">
                          {{this.comment.like}}</span>
                      </button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-light btn-sm btn-block"><span class="fa fa-thumbs-o-down">
                          {{this.comment.dislike}}</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
          {{/each}}
        </div>
      </div>
    </ul>
    <script>
      $('document').ready(function () {
        var socket = io();
        socket.on('{{newspaper.id}}', function (msg) {
          $('#messages').append($('<div class="col-12 col-sm-9 col-md-6 col-lg-5"></div>').html('<li class="card"><div class="col-12"><p><b>' + msg.name + '</b></p></div><div class="col-12"><p>' + msg.comment + '</p></div></li>' + '<br>'));
        });
      });
    </script>
  </div>
  <div id="likes" class="container-fluid tab-pane fade" style="background-color:white">
    <br>
    <h6>PEOPLE WHO LIKE THIS</h6>
    {{#each decipher}}
      <p><b>{{@index}}. </b>{{#if this.photo.url}}<img src="{{this.photo.url}}" class="rounded-circle commentImage" />
        {{else}} <img src="/images/psylogo4.jpg" class="rounded-circle commentImage" />{{/if}}
        {{this.surname}}
        {{this.firstname}}
      </p>
      <br><br>
    {{/each}}
  </div>
</div>
<br><br>