<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <h2><b><center>LATEST NEWS!!</center></b></h2>
    <ul>
        {{#each newspaper}}
            <li class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            <center><a href="/getfullnews/{{this.id}}">{{this.heading}}</a></center>
                        </h3>
                        <br>
                    </div>
                    <br>
                    <div class="col-sm-12 col-lg-4">
                        <img src="{{this.picture}}" alt="image" class="rounded" width="100%" height="300" />
                        <br><br>
                    </div>
                    <br>
                    <div class="col-sm-12 col-lg-8">
                        <p>{{this.passage}}</p>
                        <button class="btn btn-danger">comments<span> 5</span></button>
                        <button type="button" class="btn btn-primary">Like<span> 2</span></button>
                        <button class="btn btn-danger">Reply</button>
                    </div>
                </div>
                {{else}}
                    <p><b>THERE ARE NO UPLOADED NEWS</b></p>
            </li>
        {{/each}}
    </ul>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>