<br>
<h4><b>
        <center>LATEST NEWS!!</center>
    </b>
</h4>
<br>
<ul>
    <div class="container-fluid">
        <div class="row">
            {{#each newspaper}}
                <div class="col-12 col-md-6 col-lg-4">
                    <li class="card">
                        <div class="col-12 card-header">
                            <h4>
                                <b>
                                    <center><a href="/homegetfullnews/{{this.id}}">{{this.heading}}</a></center>
                                </b>
                            </h4>
                        </div>
                        <div class="col-12">
                            <br>
                            <img src="{{this.picture}}" alt="image" class="rounded" width="100%" height="250" />
                        </div>
                        <br>
                        <div class="col-12 card-body">
                            <p>{{this.passage}}</p>
                        </div>
                        <div class="col-12 card-footer">
                            <button class="btn btn-danger"><span class="fa fa-commenting-o"></span> comments<span></span></button>
                            <button type="button" class="btn btn-primary"><span class="fa fa-thumbs-o-up"> Like<span></span></button>
                            <button class="btn btn-danger"><span class="fa fa-thumbs-o-down"></span> Dislike</button>
                        </div>
                    </li>
                    <br><br>
                </div>
                {{else}}
                    <p><b>THERE ARE NO UPLOADED NEWS</b></p>
            {{/each}}
        </div>
    </div>
</ul>
<br><br>