<br>
<h5><b>
    LATEST NEWS!!
  </b>
</h5>
<br>
<ul>
  <div class="container-fluid">
    <div class="row">
      {{#each newspaper}}
        <div class="col-12 col-sm-6 col-lg-4">
          <li class="card">
            <div class="col-12 card-header">
              <h5>
                <b>
                  <a href="/homegetfullnews/{{this.id}}">{{this.heading}}</a>
                </b>
              </h5>
            </div>
            <div class="card-body col-12">
              <img src="{{this.picture.url}}" alt="news image" class="rounded news" />
              <br><br>
              <p>{{truncate this.passage 130}}</p>
              <small class="float-right"> {{datey this.created}}</small>
            </div>
            <div class="col-12 card-footer">
              <button class="btn btn-light"><span class="fa fa-comments-o" style="font-size:20px;color:lightgreen">
                </span>
                {{length this.comments}}</button>
              <button class="btn btn-light"><span class="fa fa-heart-o" style="font-size:20px;color:rgb(245, 56, 71)">
                </span>
                {{length this.likey}}</button>
            </div>
          </li>
          <br><br>
        </div>
      {{else}}
        <p><b>THERE ARE NO UPLOADED NEWS</b></p>
      {{/each}}
      <br><br>
    </div>
  </div>
</ul>
<br><br>