<br>
<h5>
  <b>
    YOUR MESSAGES
  </b>
</h5>
<br><br>
<ul class="list-group list-group-flush"></ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      {{#each messagess}}
        <li class="container-fluid list-group-item">
          <div class="row">
            {{#each this.details}}
              {{#if this.photo}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="/{{this.photo}}" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{else}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="../images/psylogo4.jpg" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{/if}}
              <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                <p><a href="/staff/getmessages/{{this.id}}">{{this.name}}</a>{{#if ../this.message.read}}<span
                      class="badge badge-danger badge-pill spany float-right">X</span>
                  {{else}}<span class="badge badge-success badge-pill spany float-right">new</span>{{/if}}</p>
            {{/each}}
            <p>
              <b><span class="fa fa-comment-o"> </span> </b>{{this.message.body}}<br>
            </p>
            <small class="float-right"><i>{{this.message.date}}</i></small>
          </div>
    </div>
    </li>
    <br>
    {{/each}}
  </div>
</div>
</ul>
<br><br>