<br>
{{#if newspaper}}
    <h4><b>
            <center>{{newspaper.heading}}</center>
        </b>
    </h4>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="/{{newspaper.picture}}" alt="image" class="rounded" width="100%" height="400px" />
            </div>
            <br><br>
            <div class="col-12 col-lg-6">
                <p>{{newspaper.passage}}</p>
                <br><br>
                <div class="col-12">
                    <p>{{newspaper.passage1}}</p>
                    <br><br>
                    <p>{{newspaper.passage2}}</p>
                </div>
            </div>
        </div>
    </div>
{{/if}}
<br><br>
<h5><b>
        <center>COMMENTS</center>
    </b>
</h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-4">
            {{#each comments}}
                <div class="card" id="added">
                    <p class="card-header" style="background-color:lightpink"><b><a href="#">{{this.user}}</a>
                        </b></p>
                    <br>
                    <p class="class-body"> {{this.comment}}</p>
                    <p class="class-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <form action="/studentlikecomment/{{this.id}}" method="POST" style="display:inline">
                                        <input type="text" style="display:none" class="form-control" name="like" />
                                        <button type="submit" class="btn btn-primary btn-block"><span class="fa fa-thumbs-o-up">
                                                <span>{{this.like}}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <form action="/studentdislikecomment/{{this.id}}" method="POST" style="display:inline">
                                        <input type="text" style="display:none" class="form-control" name="dislike" />
                                        <button type="submit" class="btn btn-danger btn-block"><span class="fa fa-thumbs-o-down">
                                                <span>{{this.dislike}}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <button id="cousin{{this.id}}" class="btn btn-danger btn-block" style="display:inline">Reply</button>
                                    <button id="close{{this.id}}" class="btn btn-danger btn-block" style="display:none">Close</button>
                                </div>
                            </div>
                        </div>
                        <form id="drake{{this.id}}" action="/studentreplycomments/{{this.id}}" method="POST" style="display:none">
                            <textarea type="text" class="form-control" name="commenta" placeholder="Reply" required></textarea>
                            <button type="submit" class="btn btn-success">Reply</button>
                        </form>
                    </p>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#cousin{{this.id}}').click(function () {
                            $('#drake{{this.id}}').toggle("slow");
                            $('#cousin{{this.id}}').toggle("slow");
                            $('#close{{this.id}}').toggle("slow");
                        });
                        $('#close{{this.id}}').click(function () {
                            $('#drake{{this.id}}').toggle("slow");
                            $('#cousin{{this.id}}').toggle("slow");
                            $('#close{{this.id}}').toggle("slow");
                        });
                    });
                </script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <br>
                            {{#each this.reply}}
                                <div class="card">
                                    <p class="card-header" style="background-color:lightblue"><b>{{this.user}}:
                                        </b></p>
                                    <br>
                                    <p class="class-body">{{this.comment}}</p>
                                    <br>
                                </div>
                                <br><br>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <br>
            {{/each}}
        </div>
    </div>
</div>
<ul id="messages"></ul>
<br><br><br><br>
<form id="formy" style="display:inline;width:100%;position:fixed;bottom:0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <input id="comment-id" type="hidden" value="{{newspaper.id}}">
            </div>
            <div class="col-9">
                <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Comment" required></textarea>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success">POST</button>
            </div>
        </div>
    </div>
</form>
<script>
    $('document').ready(function () {
        $(function () {
            var socket = io();
            $('#formy').submit(function (event) {
                event.preventDefault();
                var commentId = $('#comment-id').val();
                var msg = $('#comment').val();
                $.post(
                    '/studentcomments/' + commentId,
                    { comment: msg },
                    function (err, response) {
                        if (err) {
                            console.log(err, 'error')
                        } else if (response) {
                            console.log(response, 'error')
                        }
                    });

                $('#comment').val('');
            });
            socket.on('chat_message', function (msg) {
                console.log(msg, 'Message')
                $('#messages').append($('<li></li>').html('<div class="container-fluid"><div class="row"><div class="col-10 col-md-6 col-lg-4"><div class="card"><p class="card-header" style="background-color:lightpink">You</p><p class="class-body">' + msg + '</p><br><p class="class-footer"></p></div></div></div></div>' + '<br>'));
            });
        });
    });
</script>