<br>
<h5><b>
        {{newspaper.heading}}
    </b>
</h5>
{{#if reply}}
    <br>
    <p class="alert alert-success">{{reply}}</p>
{{/if}}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6">
            <img src="/{{newspaper.picture}}" alt="news image" class="rounded" width="100%" />
            <br><br><br><br>
        </div>
        <div class="col-12 col-md-6">
            <p>{{newspaper.passage}}</p>
            <br><br>
            <p>{{newspaper.passage1}}</p>
            <br><br>
            <p>{{newspaper.passage2}}</p>
        </div>
    </div>
</div>
<br><br>
<h5><b>
        COMMENTS<span class="badge badge-danger badge-pill spany">12</span>
    </b>
</h5>
<br>
<ul>
    <div class="container-fluid">
        <div class="row">
            {{#each comments}}
                <div class="col-12 col-md-6 col-lg-4">
                    <li class="card" id="added">
                        <div class="col-12">
                            <p><b><a href="/studentstudentprofile/{{this.specialid}}">{{this.user}}</a>
                                </b>
                            </p>
                        </div>
                        <div class="col-12">
                            <p>{{this.comment}}</p>
                        </div>
                    </li>
                    <div class="col-12">
                        <div class="container-fluid">
                            <div class="row no-gutters">
                                <div class="col-4">
                                    <form action="/studentlikecomment/{{this.id}}" method="POST" style="display:inline">
                                        <input type="text" style="display:none" class="form-control" name="like" />
                                        <button type="submit" class="btn btn-light btn-sm btn-block"><span class="fa fa-thumbs-o-up">
                                                {{this.like}}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <form action="/studentdislikecomment/{{this.id}}" method="POST" style="display:inline">
                                        <input type="text" style="display:none" class="form-control" name="dislike" />
                                        <button type="submit" class="btn btn-light btn-sm btn-block"><span class="fa fa-thumbs-o-down">
                                                {{this.dislike}}</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <button id="cousin{{this.id}}" class="btn btn-light btn-sm btn-block" style="display:inline"><span
                                            class="fa fa-reply"></span></button>
                                    <button id="close{{this.id}}" class="btn btn-danger btn-sm btn-block" style="display:none"><span
                                            class="fa fa-close"></span></button>
                                </div>
                            </div>
                        </div>
                        <form id="drake{{this.id}}" action="/studentreplycomments/{{this.id}}" method="POST" style="display:none">
                            <input type="text" class="form-control" name="commentor" value="{{this.user}}" required />
                            <input type="text" class="form-control" name="commenta" placeholder="Type a reply" required />
                            <button type="submit" class="btn btn-success btn-sm"><span class="fa fa-reply"></span></button>
                        </form>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#cousin{{this.id}}').click(function () {
                                $('#drake{{this.id}}').toggle("slow");
                                $('#cousin{{this.id}}').toggle("slow");
                                $('#close{{this.id}}').toggle("slow");
                            });
                            $('#close{{this.id}}').click(function () {
                                $('#drake{{this.id}}').toggle("slow");
                                $('#cousin{{this.id}}').toggle("slow");
                                $('#close{{this.id}}').toggle("slow");
                            });
                        });
                    </script>
                    <ul>
                        <div class="container-fluid">
                            <div class="row">
                                <li class="col-12">
                                    {{#each this.reply}}
                                        <div class="card">
                                            <p><b>{{this.user}}: @ {{this.commentor}}
                                                </b>
                                            </p>
                                            <p>{{this.comment}}</p>
                                            <br>
                                        </div>
                                        <br><br>
                                    {{/each}}
                                </li>
                            </div>
                        </div>
                    </ul>
                    <br><br>
                </div>
            {{/each}}
        </div>
    </div>
</ul>
<ul id="messages"></ul>
<br><br><br>
<form id="formy" style="display:inline-block;width:100%;position:fixed;bottom:0">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-9" style="display:none">
                <input id="comment-id" value="{{newspaper.id}}" />
            </div>
            <div class="col-9">
                <textarea type="text" rows="1" cols="20" class="form-control" id="comment" name="comment" placeholder="Type a comment..."
                    required></textarea>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success" id="stylus"><span class="fa fa-play"></span></button>
            </div>
        </div>
    </div>
</form>
<script>
    $('document').ready(function () {
        $(function () {
            var socket = io();
            $('#formy').submit(function (event) {
                event.preventDefault();
                var commentId = $('#comment-id').val();
                var msg = $('#comment').val();
                $.post(
                    '/studentcomments/' + commentId,
                    { comment: msg },
                    function (err, response) {
                        if (err) {
                            console.log(err, 'error')
                        } else if (response) {
                            console.log(response, 'error')
                        }
                    });

                $('#comment').val('');
            });
            socket.on('chat_message', function (msg) {
                console.log(msg, 'Message')
                $('#messages').append($('<li></li>').html('<div class="container-fluid"><div class="row"><div class="col-10 col-md-6 col-lg-4"><div class="card"><p class="card-header">You</p><p class="class-body">' + msg + '</p><br><p class="class-footer"></p></div></div></div></div>' + '<br>'));
            });
        });
    });
</script>