<br>
<h5><b>
        {{heading}}
    </b>
</h5>
<div class="dropdown" style="float:right">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/staff/list100students">100 LEVEL</a>
        <a class="dropdown-item" href="/staff/list200students">200 LEVEL</a>
        <a class="dropdown-item" href="/staff/list300students">300 LEVEL</a>
        <a class="dropdown-item" href="/staff/list400students">400 LEVEL</a>
    </div>
</div>
<br><br>
<ul>
    <br><br>
    {{#each slow}}
        <li class="container-fluid">
            <div class="row">
                {{#if this.photo}}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="/{{this.photo}}" alt="image" class="rounded-circle profile" />
                    </div>
                {{else}}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <img src="../images/psylogo4.jpg" alt="image" class="rounded-circle profile" />
                    </div>
                {{/if}}
                <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                    <p><a href="/staff/studentprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                    <p>
                        <b>LEVEL: </b>{{this.level}}<br>
                        <b>GENDER: </b>{{this.gender}}<br>
                        <b>STATUS:</b> {{this.bio}}
                    </p>
                </div>
            </div>
        </li>
        <br><br>
        {{else}}
            <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
    {{/each}}
</ul>
<br><br>