<br>
<h5>
  <b>
    {{heading}}
  </b>
</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 dropdown dropright">
      <button class="btn btn-secondary btn-sm dropdown" data-toggle="dropdown"><span class="fa fa-search"></span>
        search</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/staff/list100students">100 LEVEL</a>
        <a class="dropdown-item" href="/staff/list200students">200 LEVEL</a>
        <a class="dropdown-item" href="/staff/list300students">300 LEVEL</a>
        <a class="dropdown-item" href="/staff/list400students">400 LEVEL</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <ul class="list-group list-group-flush">
        {{#each slow}}
          <li class="container-fluid list-group-item">
            <div class="row">
              {{#if this.photo}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="/{{this.photo}}" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{else}}
                <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                  <img src="../images/psylogo4.jpg" alt="profile pics" class="rounded-circle profile" />
                </div>
              {{/if}}
              <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                <p><a href="/staff/studentprofile/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                <p>
                  <b>Level: </b>{{this.level}}<br>
                  <b><span class="fa fa-user"></span> </b>{{this.gender}}<br>
                  <b><span class="fa fa-comment-o"></span> </b>{{this.bio}}
                </p>
              </div>
            </div>
          </li>
          <br><br>
        {{else}}
          <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
        {{/each}}
      </ul>
      <br><br>
    </div>
  </div>
</div>
<br><br>