<br>
<h5>
    <b>
        YOUR PROFILE.
    </b>
</h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            {{#if photo}}
                <img src="/{{staff.photo}}" alt="profile image" class="rounded" width="100%" />
            {{else}}
                <img src="../images/psylogo4.jpg" alt="psy image" class="rounded" width="100%" />
            {{/if}}
            <form id="drake" style="display:none" action="/staff/updatepics/{{staff.id}}" method="POST"
                enctype="multipart/form-data" style="display:inline">
                <input type="file" class="form-control" name="image" placeholder="upload photo" required>
                <button type="submit" class="btn btn-danger">EDIT</button>
            </form>
            <button id="cousin" class="btn btn-danger"><span class="fa fa-edit"></span> PICS</button>
            <br><br>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <p><b>EMAIL:</b> {{staff.email}}</p>
            <br>
            <p><b>SURNAME: </b> {{staff.surname}}</p>
            <br>
            <p><b>FIRSTNAME: </b> {{staff.firstname}}</p>
            <br>
            <p><b>STAFF_ID :</b> {{staff.staff_id}}</p>
            <br>
            <p><b>GENDER: </b>{{staff.gender}}</p>
            <br>
            <p><b>PHONE NUMBER: </b>{{staff.phone}}</p>
            <br>
            <p><b>STATUS: </b>{{staff.bio}}</p>
            <br>
        </div>
    </div>
</div>
<h5><b>
        COURSES HANDLED <span class="badge badge-danger badge-pill spany">{{length coursess}}
    </b>
</h5>
<br>
<ol>
    {{#each coursess}}
        <li>
            <p><b>{{this.coursecode}}: </b><a href="/staff/viewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
        </li>
        <br>
    {{else}}
        <p>NO COURSE ASSIGNED</p>
    {{/each}}
</ol>
<br>
<script>
    $(document).ready(function () {
        $('#cousin').click(function () {
            $('#drake').toggle();
            $('#cousin').toggle();
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a href="/staff/updateprofile/{{staff.id}}" type="button" class="btn btn-info btn-lg btn-block"
                title="edit profile"><span class="fa fa-edit" style="font-size:25px"></span>
            </a>
        </div>
        <div class="col-4">
            <a href="/staff/stafflist" type="button" class="btn btn-primary btn-lg btn-block" title="colleagues"><span
                    class="fa fa-users" style="font-size:25px"></span></a>
        </div>
    </div>
</div>
<br><br>