<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="/{{staff_photo}}"><img src="/{{staff_photo}}" alt="profile image" class="rounded" width="100%"
                        height="300" /></a>
                <form id="drake" style="display:none" action="/staffupdatepics/{{urlline}}" method="POST" enctype="multipart/form-data"
                    style="display:inline">
                    <input type="file" class="form-control" name="image" placeholder="upload photo" required>
                    <button type="submit" class="btn btn-danger">EDIT</button>
                </form>
                <button id="cousin" class="btn btn-danger btn-lg"><span class="fa fa-edit"></span> EDIT</button>
                <br><br>
            </div>
            <div class="col-sm-12 col-md-8">
                <p><b>Email:</b> {{staff_email}}</p>
                <br>
                <p><b>Surname: </b> {{staff_surname}}</p>
                <br>
                <p><b>FirstName: </b> {{staff_firstname}}</p>
                <br>
                <p><b>Staff_id :</b> {{staff_id}}</p>
                <br>
                <p><b>Gender: </b>{{staff_gender}}</p>
                <br>
                <p><b>Phone Number: </b>{{staff_phone}}</p>
                <br>
                <p><b>About Yourself: </b>{{staff_bio}}</p>
                <br>
            </div>
        </div>
    </div>
    <h3><b>
            <center>YOUR COURSES</center>
        </b></h3>
    <br>
    <ol>
        {{#each coursess}}
            <li>
                <p><b>{{this.coursecode}}: </b><a href="/staffviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
            </li>
            {{else}}
                <p>NO COURSE ASSIGNED</p>
        {{/each}}
    </ol>
    <br>
    <script>
        $(document).ready(function () {
            $('#cousin').click(function () {
                $('#drake').toggle();
                $('#cousin').toggle();
            });
        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a href="/staffupdateprofile/{{urlline}}" type="button" class="btn btn-primary btn-lg btn-block">EDIT
                    PROFILE</a>
            </div>
            <div class="col-sm-6">
                <a href="/staffsstafflist" type="button" class="btn btn-primary btn-lg btn-block">COLLEAGUES</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>