<br>
<h5><b>PROJECT TOPICS <span class="badge badge-danger badge-pill spany">{{length projectss}}</span>
  </b>
</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 dropdown dropright">
      <button class="btn btn-secondary btn-sm dropdown" data-toggle="dropdown"><span class="fa fa-search"></span>
        search</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">ANXIETY</a>
        <a class="dropdown-item" href="#">DEPRESSION</a>
        <a class="dropdown-item" href="#">DEMENTIA</a>
        <a class="dropdown-item" href="#">DEVELOPMENTAL PSYCHOLOGY</a>
        <a class="dropdown-item" href="#">EDUCATIONAL PERFORMANCE</a>
        <a class="dropdown-item" href="#">PHYSICAL PERFORMANCE</a>
        <a class="dropdown-item" href="#">ENVIRONMENT</a>
        <a class="dropdown-item" href="#">PSYCHOACTIVE DRUGS</a>
        <a class="dropdown-item" href="#">AMNESIA</a>
        <a class="dropdown-item" href="#">SCHOOL OF THOUGHT</a>
        <a class="dropdown-item" href="#">PSYCHO THERAPY</a>
        <a class="dropdown-item" href="#">PSYCHOPATHOLOGY</a>
        <a class="dropdown-item" href="#">SCHIZOPHRENIA</a>
        <a class="dropdown-item" href="#">PERSONALITY</a>
        <a class="dropdown-item" href="#">LOCUS OF CONTROL</a>
        <a class="dropdown-item" href="#">PSYCHOSIS</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<ol>
  {{#each projectss}}
    <li class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p><a href="/{{this.project}}">{{this.topic}}</a></p>
          <br>
        </div>
        <br>
        <div class="col-12">
          <p>{{this.description}}</p>
        </div>
      </div>
    </li>
    <br><br>
  {{else}}
    <p>THERE ARE NO UPLOADED PROJECT TOPIC.</p>
  {{/each}}
</ol>
<br><br>