<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="/files/{{staff_photo}}"><img src="/{{staff_photo}}" alt="profile image" class="rounded" width="100%" height="300" /></a>
            </div>
            <div class="col-sm-12 col-md-8">
                <p><b>Email:</b> {{staff_email}}</p>
                <p><b>Surname: </b> {{staff_surname}}</p>
                <p><b>FirstName: </b> {{staff_firstname}}</p>
                <p><b>Staff_id :</b> {{staff_id}}</p>
                <p><b>Gender: </b>{{staff_gender}}</p>
                <p><b>Phone Number: </b>{{staff_phone}}</p>
                <p><b>About Yourself: </b>{{staff_bio}}</p>
            </div>
        </div>
    </div>
    <h3><b><center>YOUR COURSES</center></b></h3>
    <br>
    {{#each coursess}}
        <p><b>COURSE_TITLE: </b><a href="/staffviewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
        {{else}}
            <p>NO COURSE ASSIGNED</p>
    {{/each}}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a href="/staffupdateprofile/{{urlline}}" type="button" class="btn btn-primary btn-lg btn-block">EDIT PROFILE</a>
            </div>
            <div class="col-sm-6">
                <a href="/staffsstafflist" type="button" class="btn btn-primary btn-lg btn-block">COLLEAGUES</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>