<br>
<h5><b>
    STUDENT RESULTS
  </b>
</h5>
<br>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#result100">100</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#result200">200</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#result300">300</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#result400">400</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#cgpa">CGPA</a>
  </li>
</ul>
<div class="tab-content">
  <div id="result100" class="container-fluid tab-pane active" style="background-color:white">
    <br><br>
    <h5><b>
        100 LEVEL, FIRST SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if oneresult}}
                {{#each oneresult.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{oneresult.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5><b>
        100 LEVEL, SECOND SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if oneresult2}}
                {{#each oneresult2.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{oneresult2.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="result200" class="container-fluid tab-pane fade" style="background-color:white">
    <br><br>
    <h5><b>
        200 LEVEL, FIRST SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if tworesult}}
                {{#each tworesult.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{tworesult.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5><b>
        200 LEVEL, SECOND SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if tworesult2}}
                {{#each tworesult2.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{tworesult2.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="result300" class="container-fluid tab-pane fade" style="background-color:white">
    <br><br>
    <h5><b>
        300 LEVEL, FIRST SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if threeresult}}
                {{#each threeresult.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{threeresult.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5><b>
        300 LEVEL, SECOND SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if threeresult2}}
                {{#each threeresult2.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{threeresult2.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="result400" class="container-fluid tab-pane fade" style="background-color:white">
    <br><br>
    <h5><b>
        400 LEVEL, FIRST SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if fourresult}}
                {{#each fourresult.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{fourresult.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5><b>
        400 LEVEL, SECOND SEMESTER
      </b></h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>COURSE CODE</th>
                  <th class="seek">COURSE TITLE</th>
                  <th>SCORES</th>
                  <th>GRADE</th>
                </tr>
              </thead>
              {{#if fourresult2}}
                {{#each fourresult2.rest}}
                  <tr>
                    <td>{{this.coursecode}}</td>
                    <td class="seek">{{this.coursetitle}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.grade}}</td>
                  </tr>
                {{else}}
                  <p>RESULTS NOT AVAILABLE</p>
                {{/each}}
                <tr>
                  <td><b>G.P</b></td>
                  <td class="seek"></td>
                  <td></td>
                  <td>{{fourresult2.cgpa}}</td>
                </tr>
              {{/if}}
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cgpa" class="container-fluid tab-pane fade" style="background-color:white">
    <br><br>
    <p>CALCULATING...</p>
  </div>
</div>
<br>