<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <h2><b><center>COURSE PROFILE</center></b></h2>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="../images/psylogo4.jpg" alt="profile image" class="rounded" width="100%" />
            </div>
            <div class="col-sm-12 col-md-8">
                <p><b>COURSE_CODE:</b> {{kind.coursecode}}</p>
                <p><b>COURSE_TITLE: </b> {{kind.coursetitle}}</p>
                <p><b>LEVEL: </b> {{kind.level}}</p>
                <p><b>SEMESTER:</b> {{kind.semester}}</p>
                <p><b>UNITS: </b>{{kind.units}}</p>
                <p><b>BORROWED_COURSE: </b>{{kind.borrowed}}</p>
                <p><b>LECTURER: </b><a href="/staffstaffprofile/{{teacher.id}}">{{teacher.name}}</a></p>
            </div>
        </div>
    </div>
    <br>
    <h3>
        <center><b>COURSE OUTLINE</b></center>
    </h3>
    <br>
    {{#if kind.courseoutline}}
        <p>{{kind.courseoutline}}</p>
    {{else}}
        <p>COURSE_OUTLINE NOT AVAILABLE</p>
    {{/if}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <a href="#" type="button" class="btn btn-primary btn-lg btn-block disabled">UPLOAD TEST</a>
            </div>
            <div class="col-sm-4 col-lg-4">
                <a href="#" type="button" class="btn btn-primary btn-lg btn-block disabled">ASSIGNMENT</a>
            </div>
            <div class="col-sm-4 col-lg-4">
                <a href="#" type="button" class="btn btn-primary btn-lg btn-block disabled">UPLOAD HANDOUT</a>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>