<br>
<h5><b>
        COURSE DETAILS
    </b>
</h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            <p><b>COURSE_CODE:</b> {{course.coursecode}}</p>
            <br>
            <p><b>COURSE_TITLE: </b> {{course.coursetitle}}</p>
            <br>
            <p><b>LEVEL: </b> {{course.level}}</p>
            <br>
            <p><b>SEMESTER:</b> {{course.semester}}</p>
            <br>
            <p><b>UNITS: </b>{{course.units}}</p>
            <br>
            <p><b>BORROWED_COURSE: </b>{{course.borrowed}}</p>
            <br>
            <p><b>LECTURER / S: </b></p>
            <br>
            {{#each lecky}}
                <p> <a href="/staff/colleague/{{this.id}}">{{this.surname}} {{this.firstname}}</a></p>
                <br>
            {{/each}}
        </div>
    </div>
</div>
<br>
<h5>
    <b>COURSE OUTLINE</b>
</h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{#if course.courseoutline}}
                <p>{{course.courseoutline}}</p>
            {{else}}
                <p>COURSE_OUTLINE NOT AVAILABLE</p>
            {{/if}}
            <br>
        </div>
    </div>
</div>
<form id="drake" style="display:none" action="/staff/editcourseoutline/{{course.id}}" method="POST">
    <div class="form-group input-group-lg">
        <label for="courseoutline"><b>TYPE COURSEOUTLINE</b></label>
        <textarea type="text" class="form-control" name="courseoutline" placeholder="Type a message...">{{course.courseoutline}}</textarea>
    </div>
    <button type="submit" class="btn btn-danger">Update</button>
</form>
<script>
    $(document).ready(function () {
        $('#cousin').click(function () {
            $('#drake').toggle("slow");
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <button id="cousin" class="btn btn-primary btn-block"><span class="fa fa-edit" style="font-size:25px"></span></button>
        </div>
        <div class="col-4">
            <a href="#" type="button" class="btn btn-primary btn-block disabled"><span class="fa fa-book" style="font-size:25px"></span></a>
        </div>
        <div class="col-4">
            <a href="/staff/viewcourselect/{{course.id}}" type="button" class="btn btn-primary btn-block"><span class="fa fa-users"
                    style="font-size:25px"></span></a>
        </div>
    </div>
</div>
<br><br>