<br>
<h5><b>
    {{students.surname}} {{students.firstname}}{{#if students.is_courserep}} <span class="fa fa-star-o"
        style="font-size:20px;color:red"></span>{{/if}}
  </b>
</h5>
<br>
{{#if message}}
  <p class="alert alert-danger">{{message}}</p>
  <br>
{{/if}}
<div class="container-fluid">
  <div class="row">
    {{#if students.photo.url}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="{{students.photo.url}}" alt="profile image" class="rounded profileImage" />
      </div>
    {{else}}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 viewer">
        <img src="/images/psylogo4.jpg" alt="profile image" class="rounded profileImage" />
      </div>
    {{/if}}
  </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-7">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">INFO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#result">OTHERS</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container-fluid tab-pane active" style="background-color:white">
          <br><br>
          <p><b><span class="fa fa-graduation-cap"></span></b> {{students.matnumber}}</p>
          <br>
          <p><b><span class="fa fa-bars"> </span> </b>{{students.level}} Level</p>
          <br>
          <p><b><span class="fa fa-user"></span> </b>{{students.gender}}</p>
          <br>
          <p><b><span class="fa fa-envelope"></span></b> {{students.email}}</p>
          <br>
          <p><b><span class="fa fa-phone"></span> </b>0{{students.phone}}</p>
          <br>
          <p><b><span class="fa fa-comment-o"></span> </b>{{students.bio}}</p>
          <br>
          <p><b><span class="fa fa-calendar"> </span> </b>Joined : {{datey students.date}}.</p>
          <br>
          <p><b><span class="fa fa-calendar"> </span> </b>Last Updated : {{datey students.updated}}.</p>
          <br>
        </div>
        <div id="info" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h5><b>
              REGISTERED COURSES <span class="badge badge-danger badge-pill spany">{{length registered_courses}}
            </b>
          </h5>
          <br><br>
          <div class="container-fluid">
            <div class="row">
              {{#each registered_courses}}
                <div class="col-12">
                  <p>{{this.coursecode}}: <a href="/staff/viewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
                </div>
              {{else}}
                <p>NO REGISTERED COURSE</p>
              {{/each}}
            </div>
          </div>
        </div>
        <div id="result" class="container-fluid tab-pane fade" style="background-color:white">
          <br>
          <h6>OTHER INFO.</h6>
          <p>Additional Informations about {{students.surname}} is not currently Available.</p>
          <br><br>
          <p><b><span class="fa fa-globe"> </span></b></p>
          <br>
          <p><b><span class="fa fa-facebook"> </span></b></p>
          <br>
          <p><b><span class="fa fa-instagram"> </span></b></p>
          <br>
          <p><span class="fa fa-twitter"> </span></p>
          <br>
          <p><span class="fa fa-handshake-o"> </span></p>
          <br>
          <p><span class="fa fa-expeditedssl"> </span></p>
          <br>
          <p><b><span class="fa fa-gavel"> </span></b></p>
          <br>
          <p><b><span class="fa fa-pencil-alt"> </span></b></p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-lg-4">
      <br><br><br>
      <ul class="card">
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/staff/studentfullresults/{{students.id}}"
              title="Coursemates">RESULT</a>
            <span class="fa fa-briefcase" style="font-size:25px"></span>
          </h6>
          <br>
          <p class="card-text">Click to see {{students.surname}} results...</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/staff/getmessages/{{students.id}}"
              title="message">MESSAGE</a>
            <span class="fa fa-whatsapp" style="font-size:25px"></span></h6>
          <br>
          <p class="card-text">Click to chat with {{students.surname}}.</p>
        </li>
        <li class="card-body">
          <h6 class="card-header font-weight-bold"> <a href="/staff/liststudents/{{students.level}}"
              title="results">COURSEMATES</a>
            <span class="fa fa-users" style="font-size:25px"></span></h6>
          <br>
          <p class="crad-text">Click to view {{students.surname}}'s coursemates.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>