<br>
<h5><b>
        STAFF PROFILE
    </b></h5>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <img src="/{{photo}}" alt="image" class="rounded" width="100%" />
            <br><br>
        </div>
        <div class="col-12 col-lg-6">
            <p><b>EMAIL: </b> {{email}}</p>
            <br>
            <p><b>SURNAME: </b> {{surname}}</p>
            <br>
            <p><b>FIRSTNAME: </b> {{firstname}}</p>
            <br>
            <p><b>GENDER: </b>{{gender}}</p>
            <br>
            <p><b>PHONE NUMBER: </b>{{phone}}</p>
            <br>
            <p><b>STATUS: </b>{{quote}}</p>
        </div>
    </div>
</div>
<br>
<h5>
    <b>COURSES ASSIGNED <span class="badge badge-danger badge-pill spany">{{length coursess}}</b>
</h5>
<br>
{{#each coursess}}
    <p><b>COURSE TITLE: </b><a href="/staff/viewcourse/{{this.id}}">{{this.coursetitle}}</a></p>
{{else}}
    <p>NO COURSE ASSIGNED</p>
{{/each}}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-5">
            <a href="/staff/stafflist" type="button" class="btn btn-primary btn-block"><span class="fa fa-users"
                    style="font-size:25px"></span></a>
        </div>
        <div class="col-6 col-lg-5">
            <button class="btn btn-success disabled btn-block"><span class="fa fa-whatsapp"
                    style="font-size:25px"></span></button>
        </div>
    </div>
</div>
<br><br>