<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <h2><b><center>STUDENT PROFILE</center></b></h2>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-6">
                <a href="/{{photo}}"><img src="/{{photo}}" alt="profile image" class="rounded" width="100%" /></a>
                <br><br>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-6">
                <p><b>E-MAIL:</b> {{email}}</p>
                <p><b>SURNAME: </b> {{surname}}</p>
                <p><b>FIRSTNAME: </b> {{firstname}}</p>
                <p><b>MAT. NUMBER :</b> {{matnumber}}</p>
                <p><b>LEVEL: </b>{{level}}</p>
                <p><b>GENDER: </b>{{gender}}</p>
                <p><b>PHONE NUMBER: </b>{{phone}}</p>
                <p><b>STATUS: </b>{{bio}}</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href="/stafflist{{level}}students" type="button" class="btn btn-primary btn-block btn-lg">COURSEMATES</a>
            </div>
            <div class="col-4">
                <a href="#" type="button" class="btn btn-primary btn-block btn-lg disabled">RESULTS</a>
            </div>
            <div class="col-4">
                <button class="btn btn-primary btn-block btn-lg disabled">SEND_MESSAGE</button>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>